.content {
	position: relative;
}

.pd-15 {
	padding: 0 15px;
}

.top-slider {
	height: 480px;
	width: 100%;
	position: relative;
	padding-top: 30px;

	&-item {
		width: 100%;
		height: 390px;
		background-position: 0 -138px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		color: $textWhite;

		.slider-search-form {
			transition: all 0.4s linear;

			display: flex;
			align-items: center;
			position: relative;
			top: 100%;
			width: 701px;
			height: 54px;
			padding: 0 3px 0 16px;
			box-sizing: border-box;
			background: $textWhite;
			border-radius: 20px;
			z-index: 5;
			border: 1px solid transparent;
			color: #212121;

			&:hover {
				border: 1px solid #fff;
			}

			&-focus {
				border: 1px solid #fff;
			}

			form {
				display: flex;
				align-content: center;
				justify-content: center;
				width: 100%;

				.search-form-icon {
					flex: 0 0 24px;
					width: 425px;
					margin-right: 8px;
					display: flex;
					align-items: center;
					justify-content: center;

					i {
						font-size: 28px;
						color: $textBlack;
					}
				}

				.search-form-input {
					flex: 1;
					position: relative;
					width: 100%;

					input {
						line-height: 1.44;
						font-weight: 400;
						box-sizing: border-box;
						overflow: hidden;
						outline: none;
						width: 100%;
						padding: 15px 0;
						border: none;
						border-radius: 4px;
						background-color: transparent;
						position: relative;
						z-index: 10;
						font-size: 16px;
						color: #212121;
						white-space: nowrap;
						text-overflow: ellipsis;
						height: 54px;
						caret-color: #212121;
					}
				}
			}
		}
	}
}

.container {
	.slider-search-form.border-radius {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		transition: all 0.4s linear;
	}

	.slider-search-form-dropdown {
		display: none;
		position: absolute;
		top: 53px;
		left: -53px;
		width: 701px;
		background-color: $textWhite;
		border-radius: 20px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		overflow: hidden;
		z-index: 10;

		&-container {
			border-top: 1px solid $textBlack;
			position: relative;
			padding: 20px 30px 30px 30px;
			min-height: 200px;
			max-height: 540px;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			-ms-scroll-chaining: none;
			overscroll-behavior: contain;

			> h3 {
				font-weight: 700;
				font-size: 14px;
				line-height: 17px;
				display: flex;
				align-items: center;
				padding: 25px 0 10px;
				text-transform: uppercase;
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			&-item2 {
				padding: 16px 0 !important;

				&:last-child {
					border-bottom: none;
					padding: 16px 0 8px 0 !important;
				}
			}

			&-item {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 0 0 16px;
				border-bottom: 1px solid #e0e0e0;

				&.history {
					padding: 8px 0 0;
					border-bottom: none;
				}

				> span {
					width: 36px;
					height: 36px;
					border-radius: 50%;
					border: 1px solid #838080;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				&-content {
					margin-left: 16px;

					> h3 {
						flex: 1;
						font-size: 16px;
						line-height: 19px;
						font-weight: 500;
						color: $textBlack;
					}

					> p {
						flex: 0 0 auto;
						font-size: 12px;
						line-height: 16px;
						font-weight: 400;
						color: #838080;
					}
				}
			}
		}
	}

	&-body {
		margin-top: 48px;
		width: 100%;
		max-width: 1160px;
		margin: 0 auto;

		.pd-12 {
			padding: 40px 12px;
		}

		&-row {
			max-width: 1190px;
			width: 100%;
			margin: 0 auto;

			&-title {
				padding: 40px 15px 0px;
				display: -webkit-box;
				display: flex;
				-webkit-box-align: end;
				align-items: flex-end;
				-webkit-box-pack: justify;
				justify-content: space-between;

				h2 {
					font-weight: 600;
					font-size: 24px;
					line-height: 28px;
					color: #212121;
				}
			}

			&-list {
				display: flex;
				gap: 19px;
				overflow: unset;

				.flex-wrap {
					flex-wrap: wrap;
				}

				.slide-noi-tieng-item {
					display: flex;
					gap: 20px;
				}

				.swiper-slide {
					opacity: 0;
				}

				.swiper-slide-active {
					opacity: 1;
				}

				.height-fit-content {
					height: auto;
					border: 1px solid #e0e0e0;
					padding: 20px;
				}

				&-item {
					width: 374px;
					height: 160px;
					position: relative;
					display: inline-block;
					vertical-align: middle;
					-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
					border-radius: 8px;
					cursor: pointer;

					&-link {
						width: 374px;
						border-radius: 8px;

						&-img {
							display: flex;
							-webkit-box-align: center;
							align-items: center;
							-webkit-box-pack: center;
							justify-content: center;

							img {
								width: 230px;
								height: 166px;
							}
						}

						&-sub {
							h3 {
								font-size: 24px;
								line-height: 1.18;
								font-weight: 600;
								margin-top: 23px;
								text-align: center;
								color: #212121;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-box-orient: vertical;
							}

							p {
								font-size: 14px;
								line-height: 1.44;
								font-weight: 400;
								text-align: center;
								color: #212121;
								margin-top: 8px;
								overflow: hidden;
								text-overflow: ellipsis;
								-webkit-line-clamp: 2;
								display: -webkit-box;
								-webkit-box-orient: vertical;
							}
						}

						&-button {
							margin-top: 12px;
							display: -webkit-box;
							display: flex;
							-webkit-box-pack: center;
							justify-content: center;

							button {
								min-width: 72px;
								line-height: 20px;
								font-size: 14px;
								padding: 7px 16px;
								color: #212121;
								background-color: transparent;
								border: 1px solid #4a4a4a;
								display: inline-block;
								font-stretch: normal;
								font-style: normal;
								font-weight: 500;
								border-radius: 6px;
								margin: 0;
								text-align: center;
								outline: none;
								text-transform: none;
								text-decoration: none;
								overflow: hidden;
								cursor: pointer;
							}
						}
					}

					&-text {
						display: flex;
						overflow: hidden;
						flex-direction: column;
						position: absolute;
						bottom: 20px;
						width: 100%;
						padding: 0px 20px;
						margin: 0px;
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;

						span {
							display: -webkit-box;
							font-size: 20px;
							line-height: 26px;
							color: rgb(255, 255, 255);
							font-weight: 500;
							max-height: 78px;
							overflow: hidden;
							text-overflow: ellipsis;
							word-break: break-word;
							-webkit-box-orient: vertical;
							-webkit-box-align: start;
							-webkit-line-clamp: 3;
						}
					}

					a {
						width: 100%;
						height: 100%;
					}

					&-img {
						width: 100%;
						height: 100%;
						background-size: cover;
						vertical-align: top;
						border-radius: 8px;
					}

					@include hoverItem(-4px, 0 4px 20px rgb(0 0 0 / 10%), 2);

					&-content {
						&-top {
							display: flex;
							overflow: hidden;
							flex-direction: column;
							background-color: rgb(255, 255, 255);
							border-radius: 0px;
							height: 110px;
							width: 100%;
							padding: 10px 16px 0px;
							margin: 0px;
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;

							h3 {
								display: -webkit-box;
								font-size: 14px;
								line-height: 20px;
								color: rgb(33, 33, 33);
								font-weight: 500;
								max-height: 40px;
								text-overflow: ellipsis;
								word-break: break-word;
								-webkit-box-orient: vertical;
								-webkit-box-align: start;
								-webkit-line-clamp: 2;
							}

							&-mid {
								display: flex;
								overflow: hidden;
								align-items: center;
								height: 16px;
								width: 100%;
								padding: 4px 0px 0px;
								margin: 0px;
								-webkit-box-align: center;

								span {
									display: -webkit-box;
									font-size: 12px;
									line-height: 16px;
									color: $textOrange;
									font-weight: 500;
									max-height: 16px;
									overflow: hidden;
									text-overflow: ellipsis;
									word-break: break-all;
									-webkit-box-orient: vertical;
									-webkit-box-align: start;
									-webkit-line-clamp: 1;
								}

								p {
									display: -webkit-box;
									font-size: 12px;
									line-height: 16px;
									color: rgb(153, 153, 153);
									max-height: 16px;
									overflow: hidden;
									text-overflow: ellipsis;
									word-break: break-all;
									-webkit-box-orient: vertical;
									-webkit-box-align: start;
									-webkit-line-clamp: 1;
								}
							}

							.bg-box {
								max-height: 18px;
								padding-top: 7px;
								width: 100%;
								padding-left: 0px;
								padding-right: 0px;
								padding-bottom: 0px;
								margin-left: 0px;
								margin-top: 0px;
								margin-right: 0px;
								margin-bottom: 0px;
								display: flex;
								gap: 6px;

								span {
									font-size: 12px;
									line-height: 16px;
									color: #757575;
									background: #f5f5f5;
									padding: 1px 6px;
									margin-right: 6px;
									max-height: 18px;
									max-width: 100%;
									width: max-content;
									height: fit-content;
									border-radius: 2px;
									text-overflow: ellipsis;
									display: -webkit-box;
									-webkit-line-clamp: 1;
									-webkit-box-orient: vertical;
								}
							}
						}

						&-bottom {
							display: flex;
							overflow: hidden;
							background-color: #ffffff;
							flex-direction: column;
							border-radius: 0px 0px 6px 6px;
							height: 54px;
							width: 100%;
							padding: 0px 16px 12px;
							margin: 0px;
							-webkit-box-orient: vertical;
							-webkit-box-direction: reverse;

							span {
								text-decoration: line-through;
								width: 100%;
								font-size: 12px;
								line-height: 16px;
								color: #999;
								text-decoration: line-through;
								word-break: break-all;
							}

							p {
								width: 100%;
								font-size: 12px;
								line-height: 16px;
								color: #212121;
								word-break: break-all;

								strong {
									font-size: 14px;
									font-weight: 500;
								}
							}
						}
					}

					&-bottom {
						display: flex;
						overflow: hidden;
						background-color: #ffffff;
						flex-direction: column;
						border-radius: 0px 0px 6px 6px;
						height: 54px;
						width: 100%;
						padding: 0px 16px 12px;
						margin: 0px;
						-webkit-box-orient: vertical;
						-webkit-box-direction: reverse;

						span {
							text-decoration: line-through;
							width: 100%;
							font-size: 12px;
							line-height: 16px;
							color: #999;
							text-decoration: line-through;
							word-break: break-all;
						}
					}
				}

				.swiper-button {
					position: absolute;
					z-index: 99;
					top: 50%;
					width: 32px;
					height: 32px;
					margin-top: -16px;
					color: #757575;
					background-color: #fff;
					border-radius: 16px;
					display: -webkit-box;
					display: flex;
					-webkit-box-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					align-items: center;
					cursor: pointer;
					border: 1px solid #e0e0e0;

					&:hover {
						color: #212121;
						box-shadow: $primaryBoxShadow;
					}

					&::after {
						font-size: 16px;
					}

					&-next {
						right: -42px;
					}

					&-prev {
						left: -42px;
					}
				}
			}

			&-download-and-desc {
				background-color: #eaf4f0;
				position: relative;
				display: flex;
				margin-top: 30px;
				justify-content: space-between;
				width: 100%;
				height: max-content;
				padding: 30px 40px;
				overflow: hidden;
				background-size: cover;
			}

			&-download {
				flex: 0 0 491px;
				width: 491px;
				height: 469px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			&-desc {
				flex: 1 1 auto;
				padding: 40px 100px 40px 140px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: column;

				h3 {
					display: -webkit-box;
					overflow: hidden;
					text-align: center;
					font-size: 32px;
					line-height: 38px;
					font-weight: 600;
					margin-bottom: 9px;
					color: $textBlack;
					text-overflow: ellipsis;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
				}

				p {
					font-size: 16px;
					text-align: center;
					line-height: 22px;
					font-weight: 400;
					-webkit-line-clamp: 5;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
					overflow: hidden;
					color: $textBlack;
				}

				&-image {
					width: 371px;
					cursor: pointer;

					> img {
						width: 100%;
						object-fit: cover;
					}
				}
			}

			&-blogs {
				margin: 40px 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 20px;

				&-item {
					flex: 0 0 355px;
					display: flex;
					align-items: center;
					gap: 15px;
					padding: 20px;
					border-radius: 10px;
					border: $primaryBorder;
					cursor: pointer;

					> span {
						font-size: 26px;
						color: $textBlack;
					}

					> h3 {
						font-size: 16px;
						font-weight: 500;
						line-height: 20px;
						color: $textBlack;
					}
				}
			}

			&-button {
				margin-top: 32px;
				text-align: center;

				a {
					color: inherit;
					cursor: pointer;
					text-decoration: none;

					.btn {
						min-width: 320px;
						background-color: transparent;
						line-height: 20px;
						font-size: 14px;
						padding: 7px 16px;
						display: inline-block;
						font-stretch: normal;
						font-style: normal;
						font-weight: 500;
						border: 1px solid $textBlack;
						border-radius: 6px;
						margin: 0;
						text-align: center;
						outline: none;
						text-transform: none;
						text-decoration: none;
						overflow: hidden;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.slick-list,
.slick-track {
	height: max-content;
	padding: 20px 0;
	overflow-y: unset !important;
}

.slick-list {
	padding: 0;
}

.slick-arrow {
	position: absolute;
	top: 31%;
	transform: translateY(-31%);
	left: 20px;
	z-index: 5;
	background-color: $whiteBackground;
	border: 1px solid $textBlack;
	border-radius: 50px;
	padding: 6px;
	cursor: pointer;
}

.slick-next {
	right: 20px;
	left: unset;
}

.place-slider .slick-arrow {
	top: 50%;
	transform: translateY(-50%);
}

.hightlight-slider,
.hot-slider,
.interest-slider,
.new-slider,
.place-slider {
	.slick-next {
		right: -6px;
	}

	.slick-prev {
		left: -6px;
	}
}

.new-slider {
	.container-body-row-list1-item {
		margin: 10px 0;
	}

	.flex-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.top-slider {
	.slick-list,
	.slick-track {
		padding: 0;
	}
}
.slick-dots {
	display: none !important;
}

.margin-top-40 {
	margin-top: 40px;
}

.filter-gray-100 {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.filter-gray-100:hover {
	filter: grayscale(0);
}
