.grid-item {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 20px;
}

.item {
	position: relative;
	background-color: $whiteBackground;
	display: block;
	width: 100%;
	overflow: hidden;
	margin-right: 30px;
	margin: 0 15px;
	@include transition(all, 0.5s, ease-in-out);

	&::after {
		content: '\2661';
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 28px;
		border-radius: 50%;
		padding: 8px;
		background-color: $textWhite;
		color: $textBlack;
		z-index: 1000;
	}

	&:hover {
		transform: translateY(-5px);
		box-shadow: $primaryBoxShadow;
	}

	&-img {
		width: 100%;
		height: 268px;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&-content {
		min-height: 134px;
		padding: 12px 16px 16px;

		&-title {
			font-size: 16px;
			line-height: 19px;
			color: $textBlack;
			font-weight: 600;
			@include text-truncate(2);
		}

		&-desc {
			padding-top: 4px;
			font-size: 14px;
			line-height: 16px;
			@include text-truncate(2);
			color: $textBlack;

			>span {
				text-decoration: underline;
				font-size: 14px;
				line-height: 16px;
				color: $textBlack;
			}
		}

		&-rate {
			display: flex;
			align-items: center;
			padding-top: 4px;

			>span {
				font-size: 14px;
				display: flex;
				gap: 1px;
				line-height: 16px;
				color: $textBlack;

				>span {
					font-size: 21px;
					line-height: 16px;
					background-color: #20efca;
					color: #20efca;
					border: 1px solid #20efca;
					width: 16px;
					height: 16px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					padding: 0;
					font-weight: 600;

					&:last-child {
						color: $textWhite;
						background-color: white;
					}

				}

				&:last-child {
					font-size: 14px;
					line-height: 16px;
					margin-left: 8px;
				}
			}
		}

		&-place {
			span {
				font-size: 14px;
				color: $textBlack;
				font-weight: 400;
			}
		}

		&-price {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 218px;
			left: 50%;
			width: 180px;
			padding: 10px;
			border-radius: 18px;
			transform: translateX(-50%);
			background-color: $textWhite;

			&-linethrouh {
				width: max-content;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
				color: $textBlack;
				text-decoration: line-through;
			}

			>span {
				width: max-content;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
				color: $textBlack;
			}
		}
	}
}

.item-place {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: $primaryBorder;
	overflow: hidden;
	margin: 0 12px;
	@include transition(transform, 0.2s, ease-in-out);
	display: flex !important;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;

	&:hover {
		transform: translateY(-5px);
		box-shadow: $primaryBoxShadow;
	}

	span {
		color: $textWhite;
		margin-left: 20px;
		margin-bottom: 10px;

		&:first-of-type {
			font-size: 20px;
			line-height: 26px;
			font-weight: 600;
			text-transform: uppercase;
		}

		&:last-of-type {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 30px;
		}
	}
}

.item-not-cart {
	&::after {
		display: none;
	}

	.item-content-fixed {
		position: absolute;
		bottom: 10%;
		height: 72px;
		display: flex;
		align-items: flex-end;
		left: 50%;
		transform: translate(-50%, 10%);
		padding-left: 20px;
		color: $textWhite;
		width: 100%;
		font-size: 24px;
		line-height: 28px;
		font-weight: 600;
	}
}