* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.site-container {
  background-color: #fff !important;
}

.area-active {
  height: max-content !important;
}

.page-active {
  background-color: #ff5b00 !important;
  border-color: #e05000 !important;
  color: #ffffff !important;
}

.page-etc {
  border: none !important;
  background-color: transparent !important;
}

.content {
  margin-top: 115px !important;
}

#footer {
  background-color: #eaf4f0;
}

.layout-default-footer {
  position: relative;
}
.layout-default-footer .container-default-footer-divider {
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0.07;
}
.layout-default-footer .container-default-footer-bottom {
  padding: 32px 0 11px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos {
  display: flex;
  flex-direction: row;
  width: 1160px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-link {
  margin-top: 12px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-link-active {
  display: inline-block;
  width: 100px;
  height: 38px;
  background: url(../../images/footer/ommkzuaadeoqpqn2rqt4.png) no-repeat -160px -10px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal-label span {
  font-size: 14px;
  color: black;
  line-height: 1.44;
  font-weight: 500;
  cursor: pointer;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal ul {
  margin-top: 12px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal ul li {
  cursor: pointer;
  font-size: 12px;
  color: #757575;
  list-style: none;
  font-weight: 400;
  line-height: 1.44;
  margin-bottom: 8px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other {
  padding-top: 250px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  width: 273px;
  height: 100%;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top {
  position: relative;
  display: flex;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips {
  position: relative;
  margin: 5px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
  width: 150px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money span {
  font-weight: 500;
  font-size: 14px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .material-icons {
  font-size: 24px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .dropdown-money {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-self: center;
  top: 40px;
  width: 150px;
  background-color: white;
  border-radius: 10px;
  left: 0;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .dropdown-money p {
  padding: 5px 10px;
  margin: 1px;
  width: 100%;
  font-size: 14px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .dropdown-money p:hover {
  border: 1px solid #e0e0e0;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-input {
  position: relative;
  margin: 5px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-input .language {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
  width: 150px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-input .language span {
  font-size: 14px;
  font-weight: 500;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-input .language .material-icons {
  font-size: 24px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-input .language .dropdown-language {
  display: flex;
  flex-direction: column;
  justify-self: center;
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border-radius: 10px;
  width: 150px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-input .language .dropdown-language p {
  font-size: 14px;
  padding: 5px 10px;
  margin: 1px;
  width: 100%;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-input .language .dropdown-language p:hover {
  border: 1px solid #e0e0e0;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom {
  margin-top: 24px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-label span {
  font-size: 14px;
  color: #212121;
  line-height: 1.44;
  font-weight: 500;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-link {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-link a {
  width: 40px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin-right: 12px;
  margin-bottom: 12px;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-link a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .active-flex {
  display: flex;
  flex-direction: row;
}
.layout-default-footer .container-default-footer .footer-content-bottom {
  width: 1160px;
  margin: 0 auto;
  text-align: center;
}
.layout-default-footer .container-default-footer .footer-content-bottom p {
  font-size: 14px;
  color: #757575;
}

.scroll-top-up {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 50%;
  text-align: center;
  visibility: hidden;
  bottom: 12%;
  right: 40px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.14);
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.scroll-top-up-i {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll-top-up-active {
  visibility: visible;
  bottom: 7%;
  cursor: pointer;
  z-index: 10000;
}

@media only screen and (max-width: 1160px) {
  .c-default-footer-bottom-infos {
    flex-direction: column !important;
  }
  .c-d-f-b-info-item-other {
    padding-top: 20px !important;
    align-items: flex-start !important;
  }
}
@media only screen and (max-width: 768px) {
  .layout-default-footer {
    position: relative;
  }
  .layout-default-footer .container-default-footer-divider {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.07;
  }
  .layout-default-footer .container-default-footer-bottom {
    padding: 32px 0 11px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal-label span {
    font-size: 14px;
    color: black;
    line-height: 1.44;
    font-weight: 500;
    cursor: pointer;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal ul {
    margin-top: 12px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal ul li {
    cursor: pointer;
    font-size: 12px;
    color: #757575;
    list-style: none;
    font-weight: 400;
    line-height: 1.44;
    margin-bottom: 8px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other {
    padding-top: 50px;
    justify-content: center;
    width: 700px;
    flex-direction: column;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money {
    width: 150px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money span {
    font-size: 14px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .material-icons {
    font-size: 24px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .dropdown-money {
    top: 40px;
    width: 150px;
    left: 0;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .dropdown-money p {
    font-size: 14px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-link {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-link a {
    width: 40px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #eee;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-link a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .active-flex {
    display: flex;
    flex-direction: row;
  }
  .layout-default-footer .container-default-footer .footer-content-bottom {
    width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  .layout-default-footer .container-default-footer .footer-content-bottom p {
    font-size: 14px;
    color: #757575;
  }
}
@media only screen and (max-width: 460px) {
  .layout-default-footer {
    position: relative;
  }
  .layout-default-footer .container-default-footer-divider {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.07;
  }
  .layout-default-footer .container-default-footer-bottom {
    padding: 32px 0 11px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal-label span {
    font-size: 14px;
    color: black;
    line-height: 1.44;
    font-weight: 500;
    cursor: pointer;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal ul {
    margin-top: 12px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item-internal ul li {
    cursor: pointer;
    font-size: 12px;
    color: #757575;
    list-style: none;
    font-weight: 400;
    line-height: 1.44;
    margin-bottom: 8px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other {
    padding-top: 50px;
    align-items: flex-start;
    width: 300px;
    margin-bottom: 30px;
    flex-direction: column;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top {
    flex-direction: column;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money {
    width: 150px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money span {
    font-size: 14px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .material-icons {
    font-size: 24px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .dropdown-money {
    top: 40px;
    width: 150px;
    left: 0;
    z-index: 10;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips .money .dropdown-money p {
    font-size: 14px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips-input {
    position: relative;
    margin: 5px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips-input .language {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
    width: 150px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips-input .language span {
    font-size: 14px;
    font-weight: 500;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips-input .language .material-icons {
    font-size: 24px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips-input .language .dropdown-language {
    display: flex;
    flex-direction: column;
    justify-self: center;
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border-radius: 10px;
    width: 150px;
    z-index: 10;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips-input .language .dropdown-language p {
    font-size: 14px;
    padding: 5px 10px;
    margin: 1px;
    width: 100%;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-top-tips-input .language .dropdown-language p:hover {
    border: 1px solid #e0e0e0;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-link {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-link a {
    width: 40px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #eee;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .c-d-f-bottom-info-item .c-d-f-b-info-item-other-bottom-link a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .layout-default-footer .container-default-footer-bottom .c-default-footer-bottom-infos .active-flex {
    display: flex;
    flex-direction: column;
  }
  .layout-default-footer .container-default-footer .footer-content-bottom {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .layout-default-footer .container-default-footer .footer-content-bottom p {
    font-size: 12px;
    color: #757575;
  }
}

/*# sourceMappingURL=footer.css.map */
