@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1160px;
  width: 100%;
  height: 390px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.site-container {
  background-color: #fff !important;
}

.area-active {
  height: max-content !important;
}

.page-active {
  background-color: #ff5b00 !important;
  border-color: #e05000 !important;
  color: #ffffff !important;
}

.page-etc {
  border: none !important;
  background-color: transparent !important;
}

.content {
  margin-top: 115px !important;
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.item {
  position: relative;
  background-color: #ffffff;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-right: 30px;
  margin: 0 15px;
  transition: all 0.5s ease-in-out;
}
.item::after {
  content: "♡";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border-radius: 50%;
  padding: 8px;
  background-color: #ffffff;
  color: #212121;
  z-index: 1000;
}
.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
}
.item-img {
  width: 100%;
  height: 268px;
}
.item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.item-content {
  min-height: 134px;
  padding: 12px 16px 16px;
}
.item-content-title {
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.item-content-desc {
  padding-top: 4px;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: #212121;
}
.item-content-desc > span {
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.item-content-rate {
  display: flex;
  align-items: center;
  padding-top: 4px;
}
.item-content-rate > span {
  font-size: 14px;
  display: flex;
  gap: 1px;
  line-height: 16px;
  color: #212121;
}
.item-content-rate > span > span {
  font-size: 21px;
  line-height: 16px;
  background-color: #20efca;
  color: #20efca;
  border: 1px solid #20efca;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  font-weight: 600;
}
.item-content-rate > span > span:last-child {
  color: #ffffff;
  background-color: white;
}
.item-content-rate > span:last-child {
  font-size: 14px;
  line-height: 16px;
  margin-left: 8px;
}
.item-content-place span {
  font-size: 14px;
  color: #212121;
  font-weight: 400;
}
.item-content-price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 218px;
  left: 50%;
  width: 180px;
  padding: 10px;
  border-radius: 18px;
  transform: translateX(-50%);
  background-color: #ffffff;
}
.item-content-price-linethrouh {
  width: max-content;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #212121;
  text-decoration: line-through;
}
.item-content-price > span {
  width: max-content;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #212121;
}

.item-place {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  margin: 0 12px;
  transition: transform 0.2s ease-in-out;
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
.item-place:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
}
.item-place span {
  color: #ffffff;
  margin-left: 20px;
  margin-bottom: 10px;
}
.item-place span:first-of-type {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
}
.item-place span:last-of-type {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.item-not-cart::after {
  display: none;
}
.item-not-cart .item-content-fixed {
  position: absolute;
  bottom: 10%;
  height: 72px;
  display: flex;
  align-items: flex-end;
  left: 50%;
  transform: translate(-50%, 10%);
  padding-left: 20px;
  color: #ffffff;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

.content {
  position: relative;
}

.pd-15 {
  padding: 0 15px;
}

.top-slider {
  height: 480px;
  width: 100%;
  position: relative;
  padding-top: 30px;
}
.top-slider-item {
  width: 100%;
  height: 390px;
  background-position: 0 -138px;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #ffffff;
}
.top-slider-content .slider-search-form {
  transition: all 0.4s linear;
  display: flex;
  align-items: center;
  position: relative;
  top: 100%;
  width: 701px;
  height: 54px;
  padding: 0 3px 0 16px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 20px;
  z-index: 5;
  border: 1px solid transparent;
  color: #212121;
}
.top-slider-content .slider-search-form:hover {
  border: 1px solid #fff;
}
.top-slider-content .slider-search-form-focus {
  border: 1px solid #fff;
}
.top-slider-content .slider-search-form form {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.top-slider-content .slider-search-form form .search-form-icon {
  flex: 0 0 24px;
  width: 425px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-slider-content .slider-search-form form .search-form-icon i {
  font-size: 28px;
  color: #212121;
}
.top-slider-content .slider-search-form form .search-form-input {
  flex: 1;
  position: relative;
  width: 100%;
}
.top-slider-content .slider-search-form form .search-form-input input {
  line-height: 1.44;
  font-weight: 400;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  position: relative;
  z-index: 10;
  font-size: 16px;
  color: #212121;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 54px;
  caret-color: #212121;
}

.container .slider-search-form.border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.4s linear;
}
.container .slider-search-form-dropdown {
  display: none;
  position: absolute;
  top: 53px;
  left: -53px;
  width: 701px;
  background-color: #ffffff;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;
  z-index: 10;
}
.container .slider-search-form-dropdown-container {
  border-top: 1px solid #212121;
  position: relative;
  padding: 20px 30px 30px 30px;
  min-height: 200px;
  max-height: 540px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}
.container .slider-search-form-dropdown-container > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  padding: 25px 0 10px;
  text-transform: uppercase;
}
.container .slider-search-form-dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container .slider-search-form-dropdown-list-item2 {
  padding: 16px 0 !important;
}
.container .slider-search-form-dropdown-list-item2:last-child {
  border-bottom: none;
  padding: 16px 0 8px 0 !important;
}
.container .slider-search-form-dropdown-list-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 16px;
  border-bottom: 1px solid #e0e0e0;
}
.container .slider-search-form-dropdown-list-item.history {
  padding: 8px 0 0;
  border-bottom: none;
}
.container .slider-search-form-dropdown-list-item > span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #838080;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .slider-search-form-dropdown-list-item-content {
  margin-left: 16px;
}
.container .slider-search-form-dropdown-list-item-content > h3 {
  flex: 1;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #212121;
}
.container .slider-search-form-dropdown-list-item-content > p {
  flex: 0 0 auto;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #838080;
}
.container-body {
  margin-top: 48px;
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}
.container-body .pd-12 {
  padding: 40px 12px;
}
.container-body-row {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
}
.container-body-row-title {
  padding: 40px 15px 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.container-body-row-title h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}
.container-body-row-list {
  display: flex;
  gap: 19px;
  overflow: unset;
}
.container-body-row-list .flex-wrap {
  flex-wrap: wrap;
}
.container-body-row-list .slide-noi-tieng-item {
  display: flex;
  gap: 20px;
}
.container-body-row-list .swiper-slide {
  opacity: 0;
}
.container-body-row-list .swiper-slide-active {
  opacity: 1;
}
.container-body-row-list .height-fit-content {
  height: auto;
  border: 1px solid #e0e0e0;
  padding: 20px;
}
.container-body-row-list-item {
  width: 374px;
  height: 160px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 8px;
  cursor: pointer;
}
.container-body-row-list-item-link {
  width: 374px;
  border-radius: 8px;
}
.container-body-row-list-item-link-img {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.container-body-row-list-item-link-img img {
  width: 230px;
  height: 166px;
}
.container-body-row-list-item-link-sub h3 {
  font-size: 24px;
  line-height: 1.18;
  font-weight: 600;
  margin-top: 23px;
  text-align: center;
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container-body-row-list-item-link-sub p {
  font-size: 14px;
  line-height: 1.44;
  font-weight: 400;
  text-align: center;
  color: #212121;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container-body-row-list-item-link-button {
  margin-top: 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.container-body-row-list-item-link-button button {
  min-width: 72px;
  line-height: 20px;
  font-size: 14px;
  padding: 7px 16px;
  color: #212121;
  background-color: transparent;
  border: 1px solid #4a4a4a;
  display: inline-block;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  border-radius: 6px;
  margin: 0;
  text-align: center;
  outline: none;
  text-transform: none;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.container-body-row-list-item-text {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.container-body-row-list-item-text span {
  display: -webkit-box;
  font-size: 20px;
  line-height: 26px;
  color: white;
  font-weight: 500;
  max-height: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-line-clamp: 3;
}
.container-body-row-list-item a {
  width: 100%;
  height: 100%;
}
.container-body-row-list-item-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  vertical-align: top;
  border-radius: 8px;
}
.container-body-row-list-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.container-body-row-list-item-content-top {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: white;
  border-radius: 0px;
  height: 110px;
  width: 100%;
  padding: 10px 16px 0px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.container-body-row-list-item-content-top h3 {
  display: -webkit-box;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  font-weight: 500;
  max-height: 40px;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-line-clamp: 2;
}
.container-body-row-list-item-content-top-mid {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 16px;
  width: 100%;
  padding: 4px 0px 0px;
  margin: 0px;
  -webkit-box-align: center;
}
.container-body-row-list-item-content-top-mid span {
  display: -webkit-box;
  font-size: 12px;
  line-height: 16px;
  color: #ff5b00;
  font-weight: 500;
  max-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-line-clamp: 1;
}
.container-body-row-list-item-content-top-mid p {
  display: -webkit-box;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  max-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-line-clamp: 1;
}
.container-body-row-list-item-content-top .bg-box {
  max-height: 18px;
  padding-top: 7px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  display: flex;
  gap: 6px;
}
.container-body-row-list-item-content-top .bg-box span {
  font-size: 12px;
  line-height: 16px;
  color: #757575;
  background: #f5f5f5;
  padding: 1px 6px;
  margin-right: 6px;
  max-height: 18px;
  max-width: 100%;
  width: max-content;
  height: fit-content;
  border-radius: 2px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.container-body-row-list-item-content-bottom {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 0px 0px 6px 6px;
  height: 54px;
  width: 100%;
  padding: 0px 16px 12px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
}
.container-body-row-list-item-content-bottom span {
  text-decoration: line-through;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  text-decoration: line-through;
  word-break: break-all;
}
.container-body-row-list-item-content-bottom p {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #212121;
  word-break: break-all;
}
.container-body-row-list-item-content-bottom p strong {
  font-size: 14px;
  font-weight: 500;
}
.container-body-row-list-item-bottom {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 0px 0px 6px 6px;
  height: 54px;
  width: 100%;
  padding: 0px 16px 12px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
}
.container-body-row-list-item-bottom span {
  text-decoration: line-through;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  text-decoration: line-through;
  word-break: break-all;
}
.container-body-row-list .swiper-button {
  position: absolute;
  z-index: 99;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  color: #757575;
  background-color: #fff;
  border-radius: 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}
.container-body-row-list .swiper-button:hover {
  color: #212121;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
}
.container-body-row-list .swiper-button::after {
  font-size: 16px;
}
.container-body-row-list .swiper-button-next {
  right: -42px;
}
.container-body-row-list .swiper-button-prev {
  left: -42px;
}
.container-body-row-download-and-desc {
  background-color: #eaf4f0;
  position: relative;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  padding: 30px 40px;
  overflow: hidden;
  background-size: cover;
}
.container-body-row-download {
  flex: 0 0 491px;
  width: 491px;
  height: 469px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-body-row-desc {
  flex: 1 1 auto;
  padding: 40px 100px 40px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.container-body-row-desc h3 {
  display: -webkit-box;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 9px;
  color: #212121;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.container-body-row-desc p {
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #212121;
}
.container-body-row-desc-image {
  width: 371px;
  cursor: pointer;
}
.container-body-row-desc-image > img {
  width: 100%;
  object-fit: cover;
}
.container-body-row-blogs {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.container-body-row-blogs-item {
  flex: 0 0 355px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
.container-body-row-blogs-item > span {
  font-size: 26px;
  color: #212121;
}
.container-body-row-blogs-item > h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #212121;
}
.container-body-row-button {
  margin-top: 32px;
  text-align: center;
}
.container-body-row-button a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.container-body-row-button a .btn {
  min-width: 320px;
  background-color: transparent;
  line-height: 20px;
  font-size: 14px;
  padding: 7px 16px;
  display: inline-block;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #212121;
  border-radius: 6px;
  margin: 0;
  text-align: center;
  outline: none;
  text-transform: none;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.slick-list,
.slick-track {
  height: max-content;
  padding: 20px 0;
  overflow-y: unset !important;
}

.slick-list {
  padding: 0;
}

.slick-arrow {
  position: absolute;
  top: 31%;
  transform: translateY(-31%);
  left: 20px;
  z-index: 5;
  background-color: #ffffff;
  border: 1px solid #212121;
  border-radius: 50px;
  padding: 6px;
  cursor: pointer;
}

.slick-next {
  right: 20px;
  left: unset;
}

.place-slider .slick-arrow {
  top: 50%;
  transform: translateY(-50%);
}

.hightlight-slider .slick-next,
.hot-slider .slick-next,
.interest-slider .slick-next,
.new-slider .slick-next,
.place-slider .slick-next {
  right: -6px;
}
.hightlight-slider .slick-prev,
.hot-slider .slick-prev,
.interest-slider .slick-prev,
.new-slider .slick-prev,
.place-slider .slick-prev {
  left: -6px;
}

.new-slider .container-body-row-list1-item {
  margin: 10px 0;
}
.new-slider .flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-slider .slick-list,
.top-slider .slick-track {
  padding: 0;
}

.slick-dots {
  display: none !important;
}

.margin-top-40 {
  margin-top: 40px;
}

.filter-gray-100 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.filter-gray-100:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 1024px) {
  .container-body-row-download-and-desc .container-body-row-download {
    flex: 0 0 50%;
  }
  .container-body-row-download-and-desc .container-body-row-desc {
    flex: 0 0 50%;
    padding-left: 20px;
  }

  .container-body-row-blogs-item {
    flex: 0 0 30%;
  }
}
@media screen and (max-width: 991px) {
  .top-slider-content .slider-search-form,
.container .slider-search-form-dropdown {
    width: 480px;
  }
}
@media screen and (max-width: 768px) {
  .top-slider-content .slider-search-form {
    top: -60px;
  }

  .container-body-row-download-and-desc {
    flex-direction: column;
  }
  .container-body-row-download-and-desc .container-body-row-download {
    flex: none;
    width: 100%;
    height: 390px;
  }
  .container-body-row-download-and-desc .container-body-row-desc {
    width: 100%;
    flex: none;
    padding: 20px 0;
    gap: 20px;
  }

  .top-slider-content .slider-search-form,
.container .slider-search-form-dropdown {
    width: 360px;
  }

  .container-body-row-blogs {
    flex-direction: column;
    gap: 30px;
  }
  .container-body-row-blogs .container-body-row-blogs-item {
    flex: none;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .slick-arrow {
    display: none !important;
  }

  .container-body-row-download-and-desc {
    flex-direction: column;
  }
  .container-body-row-download-and-desc .container-body-row-download {
    flex: none;
    width: 100%;
    height: 300px;
  }
  .container-body-row-download-and-desc .container-body-row-desc-image {
    width: 300px;
  }

  .top-slider-content .slider-search-form,
.container .slider-search-form-dropdown {
    width: 240px;
  }
}
@media screen and (max-width: 360px) {
  .container-body-row-download-and-desc {
    flex-direction: column;
  }
  .container-body-row-download-and-desc .container-body-row-download {
    flex: none;
    width: 100%;
    height: 300px;
  }

  .top-slider-content .slider-search-form,
.container .slider-search-form-dropdown {
    width: 240px;
  }
}

/*# sourceMappingURL=style.css.map */
