@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.site-container {
  background-color: #fff !important;
}

.area-active {
  height: max-content !important;
}

.page-active {
  background-color: #ff5b00 !important;
  border-color: #e05000 !important;
  color: #ffffff !important;
}

.page-etc {
  border: none !important;
  background-color: transparent !important;
}

.content {
  margin-top: 115px !important;
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.item {
  position: relative;
  background-color: #ffffff;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-right: 30px;
  margin: 0 15px;
  transition: all 0.5s ease-in-out;
}
.item::after {
  content: "♡";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border-radius: 50%;
  padding: 8px;
  background-color: #ffffff;
  color: #212121;
  z-index: 1000;
}
.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
}
.item-img {
  width: 100%;
  height: 268px;
}
.item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.item-content {
  padding: 12px 16px 16px;
}
.item-content-title {
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.item-content-desc {
  padding-top: 4px;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: #212121;
}
.item-content-rate {
  display: flex;
  align-items: center;
  padding-top: 4px;
}
.item-content-rate > span {
  font-size: 14px;
  display: flex;
  gap: 1px;
  line-height: 16px;
  color: #212121;
}
.item-content-rate > span > span {
  font-size: 21px;
  line-height: 16px;
  background-color: #20efca;
  color: #20efca;
  border: 1px solid #20efca;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  font-weight: 600;
}
.item-content-rate > span > span:last-child {
  color: #ffffff;
  background-color: white;
}
.item-content-rate > span:last-child {
  font-size: 14px;
  line-height: 16px;
  margin-left: 8px;
}
.item-content-place span {
  font-size: 14px;
  color: #212121;
  font-weight: 400;
}
.item-content-price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60%;
  left: 50%;
  padding: 10px 56px;
  border-radius: 18px;
  transform: translate(-50%, -60%);
  background-color: #ffffff;
}
.item-content-price > span {
  width: max-content;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #212121;
}

.item-place {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  margin: 0 12px;
  transition: transform 0.2s ease-in-out;
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
.item-place:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
}
.item-place span {
  color: #ffffff;
  margin-left: 20px;
  margin-bottom: 10px;
}
.item-place span:first-of-type {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
}
.item-place span:last-of-type {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.item-not-cart::after {
  display: none;
}
.item-not-cart .item-content-fixed {
  position: absolute;
  bottom: 10%;
  height: 72px;
  display: flex;
  align-items: flex-end;
  left: 50%;
  transform: translate(-50%, 10%);
  padding-left: 20px;
  color: #ffffff;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

.breadcrump {
  height: 320px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3764705882), rgba(0, 0, 0, 0.3764705882)), url("../../assets/images/breadcrump.webp");
  background-position: center;
  background-size: cover;
}
.breadcrump .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.breadcrump .container span {
  color: #ffffff;
  font-weight: 600;
}
.breadcrump .container span:first-of-type {
  font-size: 14px;
  line-height: 16px;
}
.breadcrump .container span:last-of-type {
  font-size: 60px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}
.container-body {
  width: 100%;
  min-width: 1160px;
}
.container-body-row {
  width: 1160px;
  margin: 0 auto;
}
.container-body-row-title {
  padding: 72px 0 32px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.container-body-row-title h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}
.container-body-row-list {
  display: flex;
  gap: 19px;
  overflow: unset;
}
.container-body-row-list .flex-wrap {
  flex-wrap: wrap;
}
.container-body-row-list .slide-noi-tieng-item {
  display: flex;
  gap: 20px;
}
.container-body-row-list .swiper-slide {
  opacity: 0;
}
.container-body-row-list .swiper-slide-active {
  opacity: 1;
}
.container-body-row-list .height-fit-content {
  height: fit-content;
  border: 1px solid #e0e0e0;
  padding: 20px;
}
.container-body-row-list-item {
  width: 374px;
  height: 160px;
  margin: 0 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 8px;
  cursor: pointer;
}
.container-body-row-list-item-link {
  width: 374px;
  border-radius: 8px;
}
.container-body-row-list-item-link-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-body-row-list-item-link-img img {
  width: 230px;
  height: 166px;
}
.container-body-row-list-item-link-sub h3 {
  font-size: 24px;
  line-height: 1.18;
  font-weight: 600;
  margin-top: 23px;
  text-align: center;
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container-body-row-list-item-link-sub p {
  font-size: 14px;
  line-height: 1.44;
  font-weight: 400;
  text-align: center;
  color: #212121;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container-body-row-list-item-link-button {
  margin-top: 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.container-body-row-list-item-link-button button {
  min-width: 72px;
  line-height: 20px;
  font-size: 14px;
  padding: 7px 16px;
  color: #212121;
  background-color: transparent;
  border: 1px solid #4a4a4a;
  display: inline-block;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  border-radius: 6px;
  margin: 0;
  text-align: center;
  outline: none;
  text-transform: none;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.container-body-row-list-item-text {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.container-body-row-list-item-text span {
  display: -webkit-box;
  font-size: 20px;
  line-height: 26px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  max-height: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-line-clamp: 3;
}
.container-body-row-list-item a {
  width: 100%;
  height: 100%;
}
.container-body-row-list-item-img {
  height: 100%;
  background-size: cover;
  vertical-align: top;
  border-radius: 8px;
}
.container-body-row-list-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.container-body-row-list-item-content-top {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  height: 110px;
  width: 100%;
  padding: 10px 16px 0px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.container-body-row-list-item-content-top h3 {
  display: -webkit-box;
  font-size: 14px;
  line-height: 20px;
  color: rgb(33, 33, 33);
  font-weight: 500;
  max-height: 40px;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-line-clamp: 2;
}
.container-body-row-list-item-content-top-mid {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 16px;
  width: 100%;
  padding: 4px 0px 0px;
  margin: 0px;
  -webkit-box-align: center;
}
.container-body-row-list-item-content-top-mid span {
  display: -webkit-box;
  font-size: 12px;
  line-height: 16px;
  color: #ff5b00;
  font-weight: 500;
  max-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-line-clamp: 1;
}
.container-body-row-list-item-content-top-mid p {
  display: -webkit-box;
  font-size: 12px;
  line-height: 16px;
  color: rgb(153, 153, 153);
  max-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-line-clamp: 1;
}
.container-body-row-list-item-content-top .bg-box {
  max-height: 18px;
  padding-top: 7px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  display: flex;
  gap: 6px;
}
.container-body-row-list-item-content-top .bg-box span {
  font-size: 12px;
  line-height: 16px;
  color: #757575;
  background: #f5f5f5;
  padding: 1px 6px;
  margin-right: 6px;
  max-height: 18px;
  max-width: 100%;
  width: max-content;
  height: fit-content;
  border-radius: 2px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.container-body-row-list-item-content-bottom {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 0px 0px 6px 6px;
  height: 54px;
  width: 100%;
  padding: 0px 16px 12px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
}
.container-body-row-list-item-content-bottom span {
  text-decoration: line-through;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  text-decoration: line-through;
  word-break: break-all;
}
.container-body-row-list-item-content-bottom p {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #212121;
  word-break: break-all;
}
.container-body-row-list-item-content-bottom p strong {
  font-size: 14px;
  font-weight: 500;
}
.container-body-row-list-item-bottom {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 0px 0px 6px 6px;
  height: 54px;
  width: 100%;
  padding: 0px 16px 12px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
}
.container-body-row-list-item-bottom span {
  text-decoration: line-through;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  text-decoration: line-through;
  word-break: break-all;
}
.container-body-row-list .width-373 {
  height: 100%;
}
.container-body-row-list .width-373-col {
  width: 373px;
  flex: 0 0 373px;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #eee;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-body-row-list .width-373-col h3 {
  display: -webkit-box;
  font-size: 18px;
  line-height: 24px;
  color: rgb(33, 33, 33);
  font-weight: 500;
  padding: 0 24px;
  height: 88px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  word-break: break-word;
  width: 100%;
  margin: 0px;
}
.container-body-row-list .width-373-col-line {
  display: flex;
  overflow: hidden;
  height: 1px;
  width: 100%;
  padding: 0px 24px;
  margin: 0px;
}
.container-body-row-list .width-373-col-line-item {
  display: flex;
  overflow: hidden;
  background-color: rgba(255, 87, 34, 0.0784313725);
  border-radius: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.container-body-row-list .width-373-col-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: fit-content;
  padding: 0px;
  margin-bottom: 16px;
}
.container-body-row-list .width-373-col-list-item {
  margin-top: 16px;
  padding: 0 24px;
  height: 68px;
  text-decoration: none;
  display: flex;
}
.container-body-row-list .width-373-col-list-item-left {
  border-radius: 8px;
  height: 68px;
  width: 68px;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.container-body-row-list .width-373-col-list-item-left-top {
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 12px;
  line-height: 1.44;
  font-weight: 500;
  width: 16px;
  height: 21px;
  color: #fff;
}
.container-body-row-list .width-373-col-list-item-left-68 {
  width: 68px;
  height: 68px;
}
.container-body-row-list .width-373-col-list-item-right {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  flex-direction: column;
  height: 68px;
  padding: 0px;
  margin: 0px 0px 0px 12px;
}
.container-body-row-list .width-373-col-list-item-right h4 {
  display: -webkit-box;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #212121;
}
.container-body-row-list .width-373-col-list-item-right-desc {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0px;
  margin: 6px 0px 0px;
  -webkit-box-align: center;
}
.container-body-row-list .width-373-col-list-item-right-desc-fire {
  height: 10px;
  width: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0px;
  margin: 0px;
}
.container-body-row-list .width-373-col-list-item-right-desc p {
  display: -webkit-box;
  font-size: 12px;
  line-height: 16px;
  color: rgb(255, 151, 53);
  max-height: 16px;
  margin-left: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-line-clamp: 1;
}
.container-body-row-list .width-373-col-list-item-right-desc-price {
  font-size: 12px;
  line-height: 1.44;
  font-weight: 400;
  color: #ff5b00;
  margin-left: 8px;
}
.container-body-row-list .width-373-col-list-item-right-desc-price strong {
  font-size: 12px;
}
.container-body-row-list .width-373-col-body {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 300px;
  width: 100%;
  padding: 24px 24px 0px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.container-body-row-list .width-373-col-body-top {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 216px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.container-body-row-list .width-373-col-body-top h3 {
  display: -webkit-box;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  padding: 0;
  height: fit-content;
  font-weight: 500;
  max-height: 96px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.container-body-row-list .width-373-col-body-top p {
  margin-top: 8px;
  width: 60%;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.container-body-row-list .width-373-col-body-bottom {
  background-color: #ffffff;
  border-radius: 4px;
  height: 36px;
  width: fit-content;
  padding: 8px 16px;
  margin: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.container-body-row-list .width-373-col-body-bottom span {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}
.container-body-row-list .width-17667 {
  width: 176.67px;
  flex: 0 0 176.67px;
  height: 238px;
  position: relative;
  color: #fff;
  -webkit-box-flex: 0;
}
.container-body-row-list .width-17667-img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(233, 233, 233);
  border-radius: 8px;
  width: 100%;
  padding: 0px 0px 133.333%;
  margin: 0px;
}
.container-body-row-list .swiper-button {
  position: absolute;
  z-index: 99;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  color: #757575;
  background-color: #fff;
  border-radius: 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}
.container-body-row-list .swiper-button:hover {
  color: #212121;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
}
.container-body-row-list .swiper-button::after {
  font-size: 16px;
}
.container-body-row-list .swiper-button-next {
  right: -42px;
}
.container-body-row-list .swiper-button-prev {
  left: -42px;
}
.container-body-row-list1-item {
  position: relative;
  height: max-content;
  width: 275px;
  color: #fff;
  -webkit-box-flex: 0;
  flex: 0 0 275px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  margin: 0 10px;
}
.container-body-row-list1-item-img {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(233, 233, 233);
  border-radius: 6px 6px 0px 0px;
  width: 100%;
  height: 160px;
  padding: 0px 0px 56.4972%;
  margin: 0px;
}
.container-body-row-download-and-desc {
  background-color: #eaf4f0;
  position: relative;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  padding: 30px 40px;
  overflow: hidden;
  background-size: cover;
  border: 1px solid #e0e0e0;
}
.container-body-row-download {
  flex: 0 0 491px;
  width: 491px;
  height: 469px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-body-row-desc {
  flex: 1 1 auto;
  padding: 40px 100px 40px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.container-body-row-desc h3 {
  display: -webkit-box;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 9px;
  color: #212121;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.container-body-row-desc p {
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #212121;
}
.container-body-row-desc-image {
  width: 371px;
}
.container-body-row-desc-image > img {
  width: 100%;
  object-fit: cover;
}
.container-body-row-blogs {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-body-row-blogs-item {
  flex: 0 0 370px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}
.container-body-row-blogs-item > span {
  font-size: 26px;
  color: #212121;
}
.container-body-row-blogs-item > h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #212121;
}
.container-body-row-button {
  margin-top: 32px;
  text-align: center;
}
.container-body-row-button a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.container-body-row-button a .btn {
  min-width: 320px;
  background-color: transparent;
  line-height: 20px;
  font-size: 14px;
  padding: 7px 16px;
  display: inline-block;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #212121;
  border-radius: 6px;
  margin: 0;
  text-align: center;
  outline: none;
  text-transform: none;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.container-body-row-logos {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-body-row-logos-icon {
  margin-right: 42px;
  margin-bottom: 32px;
}
.container-body-row-logos .i_shangrila_en {
  background-position: -788px 0;
  width: 106px;
  height: 53px;
}
.container-body-row-logos .i_airasia_en {
  background-position: -118px -814px;
  width: 118px;
  height: 31px;
}
.container-body-row-logos .i_getgo {
  background-position: -788px -409px;
  width: 84px;
  height: 43px;
}
.container-body-row-logos .i_reserve_google {
  background-position: -692px -764px;
  width: 140px;
  height: 16px;
}
.container-body-row-logos .i_iventure {
  background-position: -788px -235px;
  width: 105px;
  height: 37px;
}
.container-body-row-logos .i_disney {
  background-position: -280px -722px;
  width: 120px;
  height: 34px;
}
.container-body-row-logos .i_bigbus {
  background-position: -894px -795px;
  width: 47px;
  height: 34px;
}
.container-body-row-logos .i_railpass {
  background-position: -502px -814px;
  width: 160px;
  height: 18px;
}
.container-body-row-logos .i_shopback {
  background-position: -320px -572px;
  width: 160px;
  height: 50px;
}
.container-body-row-logos .i_hkexpress {
  background-position: -894px 0;
  width: 109px;
  height: 26px;
}
.container-body-row-logos .i_techcrunch {
  background-position: -136px -250px;
  width: 145px;
  height: 22px;
}
.container-body-row-logos .i_cnbc {
  background-position: -894px -677px;
  width: 49px;
  height: 37px;
}
.container-body-row-logos .i_wit2 {
  background-position: -894px -589px;
  width: 58px;
  height: 33px;
}
.container-body-row-logos .i_scmp2 {
  background-position: -944px -295px;
  width: 50px;
  height: 50px;
}
.container-body-row-logos .i_forbes {
  background-position: -894px -852px;
  width: 73px;
  height: 19px;
}
.container-body-row-logos .i_tdn {
  background-position: -944px -345px;
  width: 46px;
  height: 44px;
}
.container-body-row-logos .i_e27_2 {
  background-position: -732px -139px;
  width: 56px;
  height: 21px;
}
.container-body-row-logos .i_wsj2 {
  background-position: -490px -764px;
  width: 202px;
  height: 17px;
}
.container-body-row-tabs {
  height: max-content;
  padding-bottom: 60px;
}
.container-body-row-tabs-header {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.container-body-row-tabs-header-items {
  display: flex;
  height: 48px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 24px;
  border-bottom: 2px solid transparent;
  color: #212121;
  font-size: 14px;
  flex-shrink: 0;
  cursor: pointer;
}
.container-body-row-tabs-header-items span {
  line-height: 1.44;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.container-body-row-tabs-header-items:hover {
  color: #ff5b00;
}
.container-body-row-tabs-header-items.active {
  color: #ff5b00;
  border-bottom: 2px solid #ff5b00;
  font-weight: 600;
}
.container-body-row-tabs-body {
  width: 100%;
  margin-top: 16px;
}
.container-body-row-tabs-body-panel {
  display: none;
  width: 100%;
}
.container-body-row-tabs-body-panel-list {
  max-height: 78px;
  overflow: hidden;
  font-size: 0;
}
.container-body-row-tabs-body-panel-list-item {
  overflow: hidden;
  display: inline-block;
  margin: 12px 12px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  vertical-align: top;
}
.container-body-row-tabs-body-panel-list-item-between {
  overflow: hidden;
  display: inline-block;
  margin: 12px 12px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  vertical-align: top;
}

.f3_slider-5 {
  height: 420.5px !important;
  height: 100%;
}
.f3_slider-5-first {
  height: 100%;
  background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.5019607843)), url("../../assets/images/home-city-01.webp");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.f3_slider-5-last {
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/images/home-city-01.webp");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
.f3_slider-5-last > span {
  text-transform: lowercase !important;
  font-size: 30px !important;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f3_slider-5-last p {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;
}

.slick-list,
.slick-track {
  height: max-content;
  padding: 20px 0;
  overflow-y: unset !important;
}

.slick-list {
  padding: 0;
}

.slick-arrow {
  position: absolute;
  top: 31%;
  transform: translateY(-31%);
  left: 20px;
  z-index: 5;
  background-color: #ffffff;
  border: 1px solid #212121;
  border-radius: 50px;
  padding: 6px;
  cursor: pointer;
}

.slick-next {
  right: 20px;
  left: unset;
}

.place-slider .slick-arrow {
  top: 50%;
  transform: translateY(-50%);
}

.hightlight-slider .slick-next,
.hot-slider .slick-next,
.interest-slider .slick-next,
.new-slider .slick-next,
.place-slider .slick-next {
  right: -6px;
}
.hightlight-slider .slick-prev,
.hot-slider .slick-prev,
.interest-slider .slick-prev,
.new-slider .slick-prev,
.place-slider .slick-prev {
  left: -6px;
}

.new-slider .container-body-row-list1-item {
  margin: 10px 0;
}

.margin-top-40 {
  margin-top: 40px;
}

.filter-gray-100 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.filter-gray-100:hover {
  filter: grayscale(0);
}

.f3_category {
  position: relative;
  margin-top: 36px;
}
.f3_category-item {
  display: block;
  margin: 0 10px;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 12px;
  height: 110px;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}
.f3_category-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
}
.f3_category-item-img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}
.f3_category-item-img img {
  width: 100%;
  height: 100%;
}
.f3_category-item-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}

.f3_heading {
  padding: 30px 0;
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
}

.list {
  padding-bottom: 70px;
}
.list .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.list-left {
  position: sticky;
  top: 115px;
  margin-right: 20px;
  flex: 1;
  height: calc(100vh - 61px);
  padding: 20px 16px 9px;
  overflow: hidden scroll;
  background-color: #ffffff;
}
.list-left input {
  cursor: pointer;
  padding: 4px;
  min-width: 18px;
  width: 18px;
  height: 18px;
  line-height: 22px;
  display: inline-block;
  margin-right: 8px;
}
.list-left-item {
  margin-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 7px;
}
.list-left-item-heading {
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  color: #212121;
  margin-bottom: 16px;
}
.list-left-item-content-tag {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 7px 8px 0;
  border-radius: 4px;
  background-color: #f5f5f5;
}
.list-left-item-content-tag span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 4px;
}
.list-left-item-content-tag:hover span {
  color: #437dff;
  cursor: pointer;
}
.list-left-item-content-node-trigger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 13px 16px;
}
.list-left-item-content-node-trigger > span {
  flex: 1;
  text-align: right;
  margin-left: 16px;
  cursor: pointer;
}
.list-left-item-content-node-trigger label span {
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  font-weight: 400;
  text-transform: capitalize;
}
.list-left-item-content-node-content {
  height: 0;
  transition: all 3s ease-in-out;
  overflow: hidden;
}
.list-left-item-content-node-content-node-trigger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 16px 10px 32px;
}
.list-left-item-content-node-content-node-trigger > span {
  flex: 1;
  text-align: right;
  margin-left: 16px;
  cursor: pointer;
}
.list-left-item-content-node-content-node-trigger label span {
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
}
.list-left-item-content-node-content-node-content {
  height: 0;
  overflow: hidden;
}
.list-left-item-content-node-content-node-content-item {
  padding: 10px 16px 10px 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list-left-item-content-node-content-node-content-item label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  color: #212121;
  text-transform: capitalize;
}
.list-left-item-content-node-content-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 16px 10px 32px;
}
.list-left-item-content-node-content-item label span {
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 400;
}
.list-left-item-action {
  margin: 16px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 7px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  text-align: center;
}
.list-left-item-action:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
.list-right {
  background-color: #fff;
  padding: 20px;
  flex: 4;
}
.list-right-filter {
  margin-bottom: 20px;
}
.list-right-filter-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 12px;
}
.list-right-filter-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-right-filter-content-filter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-right-filter-content-filter-item {
  width: 33.3333333333%;
  margin-right: 8px;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
.list-right-filter-content-filter-item:hover {
  border-color: #ff5b00;
}
.list-right-filter-content-filter-item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
}
.list-right-filter-content-filter-item-heading input {
  font-size: 14px;
  line-height: 22px;
  border: none;
  outline: none;
  cursor: pointer;
}
.list-right-filter-content-filter-item-heading input[type=date] {
  width: 100%;
}
.list-right-filter-content-filter-item-heading input[type=checkbox] {
  width: 18px;
  height: 18px;
}
.list-right-filter-content-filter-item-heading label {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 1;
}
.list-right-filter-content-filter-item-heading span {
  font-size: 14px;
  line-height: 22px;
}
.list-right-filter-content-filter-item-dropdown {
  background-color: #fff;
  z-index: 5;
  position: absolute;
  top: 120%;
  left: 0;
  width: max-content;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 6px;
  display: none;
}
.list-right-filter-content-filter-item-dropdown .range-slide {
  position: relative;
  margin: 20px 40px;
  height: 4px;
  width: 240px;
}
.list-right-filter-content-filter-item-dropdown .slide {
  position: absolute;
  top: 0;
  height: 4px;
  background: #ccc;
  left: 9px;
  right: 9px;
}
.list-right-filter-content-filter-item-dropdown .line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #ff5b00;
}
.list-right-filter-content-filter-item-dropdown .thumb {
  position: absolute;
  z-index: 2;
  text-align: left;
  border: 1px solid #ff5b00;
  background-color: white;
  border-radius: 50%;
  outline: none;
  top: -7px;
  height: 18px;
  width: 18px;
  margin-left: -9px;
}
.list-right-filter-content-filter-item-dropdown input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  height: 3px;
  top: 0;
  width: 100%;
  opacity: 0;
  margin: 0;
}
.list-right-filter-content-filter-item-dropdown input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.list-right-filter-content-filter-item-dropdown .display {
  margin: 10px 40px;
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.list-right-filter-content-filter-item-dropdown * {
  font-size: 16px;
}
.list-right-filter-content-filter-item-dropdown-button .reset,
.list-right-filter-content-filter-item-dropdown-button .confirm {
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  outline: none;
  font-weight: 600;
  border-radius: 4px;
  float: right;
  margin: 8px;
  color: #ffffff;
}
.list-right-filter-content-filter-item-dropdown-button .reset:hover,
.list-right-filter-content-filter-item-dropdown-button .confirm:hover {
  color: #ffffff;
  background-color: #e05000;
  cursor: pointer;
}
.list-right-filter-content-filter-item-dropdown-button .confirm {
  background-color: #ff5b00;
}
.list-right-filter-content-filter-item-dropdown-button .reset {
  color: #212121;
  background-color: transparent;
}
.list-right-filter-content-sort {
  margin-left: 12px;
}
.list-right-filter-content-sort span {
  font-size: 14px;
  line-height: 22px;
}
.list-right-filter-content-sort-box {
  font-size: 14px;
  line-height: 22px;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  outline: none;
}
.list-right-filter-content-sort-box:hover {
  border-color: #ff5b00;
}
.list-right-filter-content-sort-box option {
  font-size: 14px;
  line-height: 22px;
}
.list-right-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}
.list-right-grid-item {
  display: block;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.list-right-grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
}
.list-right-grid-item-img {
  width: 100%;
}
.list-right-grid-item-img img {
  width: 100%;
  object-fit: contain;
}
.list-right-grid-item-content {
  padding: 12px 16px 16px;
}
.list-right-grid-item-content-city {
  font-size: 12px;
  line-height: 19px;
  color: #757575;
}
.list-right-grid-item-content-title {
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  font-weight: 500;
}
.list-right-grid-item-content-desc {
  padding-top: 6px;
  font-size: 12px;
  line-height: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: #757575;
}
.list-right-grid-item-content-rate {
  padding-top: 6px;
}
.list-right-grid-item-content-rate > span {
  font-size: 12px;
  line-height: 17px;
  color: #757575;
}
.list-right-grid-item-content-rate > span > span {
  font-size: 12px;
  line-height: 17px;
  color: #ff9c00;
  font-weight: 600;
}
.list-right-grid-item-content-tag {
  padding-top: 6px;
}
.list-right-grid-item-content-tag span {
  font-size: 12px;
  line-height: 17px;
  color: #757575;
  padding: 1px 6px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-weight: 600;
}
.list-right-grid-item-content-tag span:first-of-type {
  color: #00b371;
  background-color: #f0fffa;
}
.list-right-grid-item-content-price {
  padding-top: 12px;
}
.list-right-grid-item-content-price > span {
  font-size: 12px;
  line-height: 17px;
  color: #757575;
}
.list-right-grid-item-content-price > span:first-of-type {
  text-decoration: line-through;
}
.list-right-grid-item-content-price div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-right-grid-item-content-price div > span {
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  font-weight: 500;
}
.list-right-grid-item-content-price div > span:last-of-type {
  font-size: 12px;
  line-height: 17px;
  color: #ff5b00;
  background-color: #fff0e5;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 1px 6px;
  border-color: #ff5b00;
}
.list-right-pagination {
  padding-bottom: 20px;
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list-right-pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 16px;
}
.list-right-pagination > span {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  margin-left: 12px;
}

.f3_experiences-slider .item-content-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.f3_near-slider {
  height: 380px;
}
.f3_near-slider a {
  height: 100%;
}

.f3_comment-slider-item {
  margin: 0 20px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 20px;
}
.f3_comment-slider-item > * {
  margin-bottom: 12px;
}
.f3_comment-slider-item-rate span {
  color: #ff9d26;
}
.f3_comment-slider-item-for span {
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}
.f3_comment-slider-item-for a {
  font-size: 14px;
  line-height: 20px;
  color: #437dff;
}
.f3_comment-slider-item-author {
  font-size: 16px;
  line-height: 20px;
  color: #757575;
}
.f3_comment-slider-item-content {
  font-size: 14px;
  line-height: 20px;
}

.f3_button {
  text-align: center;
}
.f3_button a {
  background-color: #ff5b00;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 50px;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.f3_button a:hover {
  background-color: #e05000;
}

.path {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.path span {
  font-size: 14px;
  padding: 16px 0;
  margin: 0 4px;
  line-height: 20px;
  color: #757575;
}
.path span a {
  color: #757575;
  font-size: 14px;
  padding: 16px 0;
  margin: 0 4px;
}
.path span:last-of-type {
  color: #212121;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 230px 230px;
  gap: 4px;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 24px;
}
.image-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  filter: grayscale(20%);
  transition: all 0.2s linear;
}
.image-grid-item:hover {
  filter: grayscale(0);
}
.image-grid-item-1 {
  grid-area: 1/1/3/3;
  border-radius: 8px 0 0 8px;
}
.image-grid-item-2 {
  border-radius: 0 8px 0 0;
}
.image-grid-item-3 {
  border-radius: 0 0 8px 0;
}
.image-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-city {
  padding: 20px;
  border-radius: 6px;
}
.about-city .about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about-city .about .desc {
  flex: 2;
}
.about-city .about .desc-heading {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-city .about .desc-content {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 30px;
}
.about-city .about .map {
  margin-left: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-city .about .map-content {
  width: 100%;
}
.about-city .about .map-content iframe {
  height: 500px;
  width: 100%;
}
.about-city .weather-heading,
.about-city .info-heading {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 30px;
}
.about-city .weather-content,
.about-city .info-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}
.about-city .weather-content-item,
.about-city .info-content-item {
  margin: 0 20px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.about-city .weather-content-item > span {
  margin-top: 10px;
}
.about-city .weather-content-item > span:first-of-type {
  font-size: 14px;
  line-height: 18px;
}
.about-city .weather-content-item > span > span {
  margin-right: 20px;
  font-size: 24px;
  line-height: 29px;
}
.about-city .weather-content-item > span > span:last-of-type {
  color: #757575;
}
.about-city .weather-content-item > span:last-of-type {
  font-size: 14px;
  line-height: 18px;
  color: #757575;
}
.about-city .info-content-item > span {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}
.about-city .info-content-item > span:first-of-type {
  font-size: 14px;
  line-height: 18px;
}
.about-city .info-content-item > span:last-of-type {
  font-size: 14px;
  line-height: 18px;
  color: #757575;
}

.p-container .accordion {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}
.p-container .accordion-last {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.p-container .accordion:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.p-container .accordion:after {
  content: "+";
  color: #777;
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.p-container .active:after {
  content: "−";
}
.p-container .panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.p-container .panel p {
  font-size: 14px;
  padding: 20px;
}

.pd-15 {
  padding: 0 15px;
}

@media screen and (max-width: 1024px) {
  .container-body-row-download-and-desc .container-body-row-download {
    flex: 0 0 50%;
  }
  .container-body-row-download-and-desc .container-body-row-desc {
    flex: 0 0 50%;
    padding-left: 20px;
  }
  .container-body-row-blogs-item {
    flex: 0 0 30%;
  }
}
@media screen and (max-width: 991px) {
  .top-slider-content .slider-search-form,
.container .slider-search-form-dropdown {
    width: 480px;
  }
}
@media screen and (max-width: 768px) {
  .top-slider-content .slider-search-form {
    top: -60px;
  }
  .container-body-row-download-and-desc {
    flex-direction: column;
  }
  .container-body-row-download-and-desc .container-body-row-download {
    flex: none;
    width: 100%;
    height: 390px;
  }
  .container-body-row-download-and-desc .container-body-row-desc {
    width: 100%;
    flex: none;
    padding: 20px 0;
    gap: 20px;
  }
  .top-slider-content .slider-search-form,
.container .slider-search-form-dropdown {
    width: 360px;
  }
  .container-body-row-blogs {
    flex-direction: column;
    gap: 20px;
  }
  .container-body-row-blogs .container-body-row-blogs-item {
    flex: none;
    width: 100%;
  }
  .map {
    display: none !important;
  }
}
@media screen and (max-width: 480px) {
  .slick-arrow {
    display: none;
  }
  .container-body-row-download-and-desc {
    flex-direction: column;
  }
  .container-body-row-download-and-desc .container-body-row-download {
    flex: none;
    width: 100%;
    height: 300px;
  }
  .container-body-row-download-and-desc .container-body-row-desc-image {
    width: 300px;
  }
  .top-slider-content .slider-search-form,
.container .slider-search-form-dropdown {
    width: 240px;
  }
}
@media screen and (max-width: 360px) {
  .container-body-row-download-and-desc {
    flex-direction: column;
  }
  .container-body-row-download-and-desc .container-body-row-download {
    flex: none;
    width: 100%;
    height: 300px;
  }
  .top-slider-content .slider-search-form,
.container .slider-search-form-dropdown {
    width: 240px;
  }
}
@media screen and (max-width: 1160px) {
  .container {
    width: 100%;
  }
  .container-body {
    min-width: unset !important;
  }
  .container-body-row {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
