@import './_variable';
@import './_general';
@import './_mixin';

#footer {
	background-color: #fff;
}

.layout-default-footer {
	position: relative;
	.container-default-footer {
		&-divider {
			width: 100%;
			height: 1px;
			background-color: black;
			opacity: 0.07;
		}
		&-bottom {
			padding: 32px 0 11px;
			.c-default-footer-bottom-infos {
				display: flex;
				flex-direction: row;
				width: 1160px;
				justify-content: space-between;
				margin-left: auto;
				margin-right: auto;
				.c-d-f-bottom-info-item {
					.margin-bottom-active {
						margin-bottom: 30px;
					}
					.margin-top-active {
						margin-top: 12px;
					}
					&-text {
						span {
							font-size: 12px;
							color: #757575;
						}
						.country {
							font-size: 14px;
							color: #757575;
						}
						width: 220px;
					}
					&-link {
						&-active {
							display: inline-block;
							width: 100px;
							height: 38px;
							background: url(../../images/footer/ommkzuaadeoqpqn2rqt4.png)
								no-repeat -160px -10px;
						}
						margin-top: 12px;
					}
					&-internal {
						display: flex;
						flex-direction: column;
						&-label {
							span {
								font-size: 14px;
								color: black;
								line-height: 1.44;
								font-weight: 500;
								cursor: pointer;
							}
						}
						ul {
							margin-top: 12px;
							li {
								cursor: pointer;
								font-size: 12px;
								color: #757575;
								list-style: none;
								font-weight: 400;
								line-height: 1.44;
								margin-bottom: 8px;
							}
						}
					}
					.c-d-f-b-info-item-other {
						width: 273px;
						&-top {
							position: relative;
							&-tips {
								margin-right: 18px;
								span {
									font-size: 14px;
									color: #212121;
									line-height: 1.44;
									font-weight: 500;
								}
								p {
									font-size: 12px;
									color: #757575;
									line-height: 1.44;
									font-weight: 400;
									margin-top: 8px;
									a {
										font-size: 12px;
										color: #757575;
										text-decoration: underline;
									}
								}
							}
							&-input {
								display: flex;
								position: relative;
								margin-top: 12px;
								input {
									width: 259px;
									height: 42px;
									padding: 7px 12px;
									border-radius: 6px 0 0 6px;
									border: none;
									outline: none;
									font-size: 14px;
									background-color: #f5f5f5;
									&:focus {
										border: 1px solid $primaryColor;
									}
								}
								button {
									font-size: 12px;
									line-height: 1.44;
									font-weight: 500;
									width: 101px;
									height: 42px;
									background-color: $primaryColor;
									border-radius: 0 6px 6px 0;
									border: 1px solid $primaryColor;
									color: #ffffff;
									cursor: pointer;
									&:hover {
										opacity: 0.8;
									}
								}
							}
						}
						&-bottom {
							margin-top: 24px;
							&-label {
								span {
									font-size: 14px;
									color: #212121;
									line-height: 1.44;
									font-weight: 500;
								}
							}
							&-link {
								margin-top: 12px;
								display: flex;
								flex-wrap: wrap;
								a {
									width: 40px;
									height: 25px;
									border-radius: 4px;
									border: 1px solid #eee;
									margin-right: 12px;
									margin-bottom: 12px;
									img {
										width: 100%;
										height: 100%;
										object-fit: contain;
									}
								}
							}
						}
					}
				}
				.active-flex {
					display: flex;
					flex-direction: row;
					width: 100%;
					justify-content: space-evenly;
				}
			}
		}
	}
}
.scroll-top-up {
	position: fixed;
	width: 50px;
	height: 50px;
	border: 1px solid #eee;
	border-radius: 50%;
	text-align: center;
	visibility: hidden;
	bottom: 12%;
	right: 40px;
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 14%);
	transition: all 0.3s ease-in-out;
	&-i {
		position: absolute;
		width: 24px;
		height: 24px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.scroll-top-up-active {
	visibility: visible;
	bottom: 7%;
  cursor: pointer;
	z-index: 10000;
}
