@import "./_variable";
@import "./_general";
@import "./_mixin";

#footer {
	background-color: #eaf4f0;
}

.layout-default-footer {
	position: relative;
	.container-default-footer {
		&-divider {
			width: 100%;
			height: 1px;
			background-color: black;
			opacity: 0.07;
		}
		&-bottom {
			padding: 32px 0 11px;
			.c-default-footer-bottom-infos {
				display: flex;
				flex-direction: row;
				width: 1160px;
				justify-content: space-around;
				margin-left: auto;
				margin-right: auto;
				.c-d-f-bottom-info-item {
					&-link {
						&-active {
							display: inline-block;
							width: 100px;
							height: 38px;
							background: url(../../images/footer/ommkzuaadeoqpqn2rqt4.png) no-repeat -160px -10px;
						}
						margin-top: 12px;
					}
					&-internal {
						display: flex;
						flex-direction: column;
						margin: 30px;
						&-label {
							span {
								font-size: 14px;
								color: black;
								line-height: 1.44;
								font-weight: 500;
								cursor: pointer;
							}
						}
						ul {
							margin-top: 12px;
							li {
								cursor: pointer;
								font-size: 12px;
								color: #757575;
								list-style: none;
								font-weight: 400;
								line-height: 1.44;
								margin-bottom: 8px;
							}
						}
					}
					.c-d-f-b-info-item-other {
						padding-top:250px;
						display: flex;
						align-items: flex-end;
						flex-direction: column;
						justify-content: flex-end;
						width: 273px;
						height: 100%;
						&-top {
							position: relative;
							display: flex;
							&-tips {
								position: relative;
								margin: 5px;
								.money {
									cursor: pointer;
									display: flex;
									align-items: center;
									justify-content: space-between;
									padding: 5px 10px;
									background-color: white;
									border-radius: 10px;
									width: 150px;
									span {
										font-weight: 500;
										font-size: 14px;
									}
									.material-icons{
										font-size: 24px;
									}
									
									.dropdown-money{
										visibility: hidden;
										position: absolute;
										display: flex;
										flex-direction: column;
										justify-self: center;
										top:40px;
										width: 150px;
										background-color: white;
										border-radius: 10px;
										left:0;
										p{
											padding:5px 10px;
											margin:1px;
											width: 100%;
											font-size: 14px;
											&:hover{
												border:$primaryBorder;
											}
										}
									}
									
								}
							}
							&-input {
								position: relative;
								margin: 5px;
								.language {
									cursor: pointer;
									display: flex;
									align-items: center;
									justify-content: space-between;
									padding: 5px 10px;
									background-color: white;
									border-radius: 10px;
									width: 150px;
									span {
										font-size: 14px;
										font-weight: 500;
									}
									.material-icons{
										font-size: 24px;
									}
									.dropdown-language{
										display: flex;
										flex-direction: column;
										justify-self: center;
										visibility: hidden;
										position: absolute;
										top:40px;
										left:0;
										background-color: white;
										border-radius: 10px;
										width: 150px;
										p{
											font-size: 14px;
											padding:5px 10px;
											margin:1px;
											width: 100%;
											&:hover{
												border:$primaryBorder;
											}
										}
									}
								}
							}
						}
						&-bottom {
							margin-top: 24px;
							&-label {
								span {
									font-size: 14px;
									color: #212121;
									line-height: 1.44;
									font-weight: 500;
								}
							}
							&-link {
								margin-top: 12px;
								display: flex;
								flex-wrap: wrap;
								a {
									width: 40px;
									height: 25px;
									border-radius: 4px;
									border: 1px solid #eee;
									margin-right: 12px;
									margin-bottom: 12px;
									img {
										width: 100%;
										height: 100%;
										object-fit: contain;
									}
								}
							}
						}
					}
				}
				.active-flex {
					display: flex;
					flex-direction: row;
					// justify-content: space-around;
				}
			}
		}
		.footer-content-bottom {
			width: 1160px;
			margin: 0 auto;
			text-align: center;
			p {
				font-size: 14px;
				color: #757575;
			}
		}
	}
}
.scroll-top-up {
	position: fixed;
	width: 50px;
	height: 50px;
	border: 1px solid #eee;
	border-radius: 50%;
	text-align: center;
	visibility: hidden;
	bottom: 12%;
	right: 40px;
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 14%);
	transition: all 0.3s ease-in-out;
	background-color: white;
	&-i {
		position: absolute;
		width: 24px;
		height: 24px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.scroll-top-up-active {
	visibility: visible;
	bottom: 7%;
	cursor: pointer;
	z-index: 10000;
}
@media only screen and (max-width: 1160px) {
	.c-default-footer-bottom-infos {
		flex-direction: column !important;
	}
	.c-d-f-b-info-item-other {
		padding-top: 20px !important;
		align-items: flex-start !important;

	}

}
@media only screen and (max-width: 768px) {
	.layout-default-footer {
		position: relative;
		.container-default-footer {
			&-divider {
				width: 100%;
				height: 1px;
				background-color: black;
				opacity: 0.07;
			}
			&-bottom {
				padding: 32px 0 11px;
				.c-default-footer-bottom-infos {
					display: flex;
					flex-direction: column;
					width: 700px;
					justify-content: center;
					.c-d-f-bottom-info-item {
						&-internal {
							display: flex;
							flex-direction: column;
							margin: 30px;
							&-label {
								span {
									font-size: 14px;
									color: black;
									line-height: 1.44;
									font-weight: 500;
									cursor: pointer;
								}
							}
							ul {
								margin-top: 12px;
								li {
									cursor: pointer;
									font-size: 12px;
									color: #757575;
									list-style: none;
									font-weight: 400;
									line-height: 1.44;
									margin-bottom: 8px;
								}
							}
						}
						.c-d-f-b-info-item-other {
							padding-top:50px;
							// align-items: center;
							justify-content: center;
							width: 700px;
							flex-direction: column;
							&-top {
								&-tips {
									.money {
										width: 150px;
										span {
											font-size: 14px;
										}
										.material-icons{
											font-size: 24px;
										}
										
										.dropdown-money{
											top:40px;
											width: 150px;
											left:0;
											p{
												font-size: 14px;
											}
										}
										
									}
								}
								
							}
							&-bottom {
								
								&-link {
									margin-top: 12px;
									display: flex;
									flex-wrap: wrap;
									a {
										width: 40px;
										height: 25px;
										border-radius: 4px;
										border: 1px solid #eee;
										margin-right: 12px;
										margin-bottom: 12px;
										img {
											width: 100%;
											height: 100%;
											object-fit: contain;
										}
									}
								}
							}
						}
					}
					.active-flex {
						display: flex;
						flex-direction: row;
						// justify-content: space-around;
					}
				}
			}
			.footer-content-bottom {
				width: 700px;
				margin: 0 auto;
				text-align: center;
				p {
					font-size: 14px;
					color: #757575;
				}
			}
		}
	}
}
@media only screen and (max-width: 460px) {
	.layout-default-footer {
		position: relative;
		.container-default-footer {
			&-divider {
				width: 100%;
				height: 1px;
				background-color: black;
				opacity: 0.07;
			}
			&-bottom {
				padding: 32px 0 11px;
				.c-default-footer-bottom-infos {
					display: flex;
					flex-direction: column;
					width: 300px;
					justify-content: center;
					.c-d-f-bottom-info-item {
						&-internal {
							display: flex;
							flex-direction: column;
							margin: 0px;
							&-label {
								span {
									font-size: 14px;
									color: black;
									line-height: 1.44;
									font-weight: 500;
									cursor: pointer;
								}
							}
							ul {
								margin-top: 12px;
								li {
									cursor: pointer;
									font-size: 12px;
									color: #757575;
									list-style: none;
									font-weight: 400;
									line-height: 1.44;
									margin-bottom: 8px;
								}
							}
						}
						.c-d-f-b-info-item-other {
							padding-top:50px;
							align-items: flex-start;
							// justify-content: center;
							width: 300px;
							margin-bottom:30px;
							flex-direction: column;
							&-top {
								flex-direction: column;
								&-tips {
									.money {
										width: 150px;
										span {
											font-size: 14px;
										}
										.material-icons{
											font-size: 24px;
										}
										
										.dropdown-money{
											top:40px;
											width: 150px;
											left:0;
											z-index: 10;
											p{
												font-size: 14px;
											}
										}
										
									}
									&-input {
										position: relative;
										margin: 5px;
										.language {
											cursor: pointer;
											display: flex;
											align-items: center;
											justify-content: space-between;
											padding: 5px 10px;
											background-color: white;
											border-radius: 10px;
											width: 150px;
											span {
												font-size: 14px;
												font-weight: 500;
											}
											.material-icons{
												font-size: 24px;
											}
											.dropdown-language{
												display: flex;
												flex-direction: column;
												justify-self: center;
												visibility: hidden;
												position: absolute;
												top:40px;
												left:0;
												background-color: white;
												border-radius: 10px;
												width: 150px;
												z-index: 10;
												p{
													font-size: 14px;
													padding:5px 10px;
													margin:1px;
													width: 100%;
													&:hover{
														border:$primaryBorder;
													}
												}
											}
										}
									}
								}
								
							}
							&-bottom {
								
								&-link {
									margin-top: 12px;
									display: flex;
									flex-wrap: wrap;
									a {
										width: 40px;
										height: 25px;
										border-radius: 4px;
										border: 1px solid #eee;
										margin-right: 12px;
										margin-bottom: 12px;
										img {
											width: 100%;
											height: 100%;
											object-fit: contain;
										}
									}
								}
							}
						}
					}
					.active-flex {
						display: flex;
						flex-direction: column;
						// justify-content: space-around;
					}
				}
			}
			.footer-content-bottom {
				width: 300px;
				margin: 0 auto;
				text-align: center;
				p {
					font-size: 12px;
					color: #757575;
				}
			}
		}
	}
}