* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.round {
	border-radius: 50px;
}

.round-8 {
	border-radius: 8px;
}

.round-4 {
	border-radius: 4px;
}
