.container {
	width: 1160px;
	margin: 0 auto;
	&-body {
		width: 100%;
		min-width: 1160px;

		&-row {
			width: 1160px;
			margin: 0 auto;

			&-title {
				padding: 72px 0 32px;
				display: -webkit-box;
				display: flex;
				-webkit-box-align: end;
				align-items: flex-end;
				-webkit-box-pack: justify;
				justify-content: space-between;

				h2 {
					font-weight: 600;
					font-size: 28px;
					line-height: 36px;
					color: #212121;
				}
			}

			&-list {
				display: flex;
				gap: 19px;
				overflow: unset;

				.flex-wrap {
					flex-wrap: wrap;
				}

				.slide-noi-tieng-item {
					display: flex;
					gap: 20px;
				}

				.swiper-slide {
					opacity: 0;
				}

				.swiper-slide-active {
					opacity: 1;
				}

				.height-fit-content {
					height: fit-content;
					border: 1px solid #e0e0e0;
					padding: 20px;
				}

				&-item {
					width: 374px;
					height: 160px;
					margin: 0 10px;
					position: relative;
					display: inline-block;
					vertical-align: middle;
					-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
					border-radius: 8px;
					cursor: pointer;

					&-link {
						width: 374px;
						border-radius: 8px;

						&-img {
							display: flex;
							align-items: center;
							justify-content: center;

							img {
								width: 230px;
								height: 166px;
							}
						}

						&-sub {
							h3 {
								font-size: 24px;
								line-height: 1.18;
								font-weight: 600;
								margin-top: 23px;
								text-align: center;
								color: #212121;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-box-orient: vertical;
							}

							p {
								font-size: 14px;
								line-height: 1.44;
								font-weight: 400;
								text-align: center;
								color: #212121;
								margin-top: 8px;
								overflow: hidden;
								text-overflow: ellipsis;
								-webkit-line-clamp: 2;
								display: -webkit-box;
								-webkit-box-orient: vertical;
							}
						}

						&-button {
							margin-top: 12px;
							display: -webkit-box;
							display: flex;
							-webkit-box-pack: center;
							justify-content: center;

							button {
								min-width: 72px;
								line-height: 20px;
								font-size: 14px;
								padding: 7px 16px;
								color: #212121;
								background-color: transparent;
								border: 1px solid #4a4a4a;
								display: inline-block;
								font-stretch: normal;
								font-style: normal;
								font-weight: 500;
								border-radius: 6px;
								margin: 0;
								text-align: center;
								outline: none;
								text-transform: none;
								text-decoration: none;
								overflow: hidden;
								cursor: pointer;
							}
						}
					}

					&-text {
						display: flex;
						overflow: hidden;
						flex-direction: column;
						position: absolute;
						bottom: 20px;
						width: 100%;
						padding: 0px 20px;
						margin: 0px;
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;

						span {
							display: -webkit-box;
							font-size: 20px;
							line-height: 26px;
							color: rgb(255, 255, 255);
							font-weight: 500;
							max-height: 78px;
							overflow: hidden;
							text-overflow: ellipsis;
							word-break: break-word;
							-webkit-box-orient: vertical;
							-webkit-box-align: start;
							-webkit-line-clamp: 3;
						}
					}

					a {
						width: 100%;
						height: 100%;
					}

					&-img {
						// width: 100%;
						height: 100%;
						background-size: cover;
						vertical-align: top;
						border-radius: 8px;
					}

					@include hoverItem(-4px, 0 4px 20px rgb(0 0 0 / 10%), 2);

					&-content {
						&-top {
							display: flex;
							overflow: hidden;
							flex-direction: column;
							background-color: rgb(255, 255, 255);
							border-radius: 0px;
							height: 110px;
							width: 100%;
							padding: 10px 16px 0px;
							margin: 0px;
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;

							h3 {
								display: -webkit-box;
								font-size: 14px;
								line-height: 20px;
								color: rgb(33, 33, 33);
								font-weight: 500;
								max-height: 40px;
								text-overflow: ellipsis;
								word-break: break-word;
								-webkit-box-orient: vertical;
								-webkit-box-align: start;
								-webkit-line-clamp: 2;
							}

							&-mid {
								display: flex;
								overflow: hidden;
								align-items: center;
								height: 16px;
								width: 100%;
								padding: 4px 0px 0px;
								margin: 0px;
								-webkit-box-align: center;

								span {
									display: -webkit-box;
									font-size: 12px;
									line-height: 16px;
									color: $textOrange;
									font-weight: 500;
									max-height: 16px;
									overflow: hidden;
									text-overflow: ellipsis;
									word-break: break-all;
									-webkit-box-orient: vertical;
									-webkit-box-align: start;
									-webkit-line-clamp: 1;
								}

								p {
									display: -webkit-box;
									font-size: 12px;
									line-height: 16px;
									color: rgb(153, 153, 153);
									max-height: 16px;
									overflow: hidden;
									text-overflow: ellipsis;
									word-break: break-all;
									-webkit-box-orient: vertical;
									-webkit-box-align: start;
									-webkit-line-clamp: 1;
								}
							}

							.bg-box {
								max-height: 18px;
								padding-top: 7px;
								width: 100%;
								padding-left: 0px;
								padding-right: 0px;
								padding-bottom: 0px;
								margin-left: 0px;
								margin-top: 0px;
								margin-right: 0px;
								margin-bottom: 0px;
								display: flex;
								gap: 6px;

								span {
									font-size: 12px;
									line-height: 16px;
									color: #757575;
									background: #f5f5f5;
									padding: 1px 6px;
									margin-right: 6px;
									max-height: 18px;
									max-width: 100%;
									width: max-content;
									height: fit-content;
									border-radius: 2px;
									text-overflow: ellipsis;
									display: -webkit-box;
									-webkit-line-clamp: 1;
									-webkit-box-orient: vertical;
								}
							}
						}

						&-bottom {
							display: flex;
							overflow: hidden;
							background-color: #ffffff;
							flex-direction: column;
							border-radius: 0px 0px 6px 6px;
							height: 54px;
							width: 100%;
							padding: 0px 16px 12px;
							margin: 0px;
							-webkit-box-orient: vertical;
							-webkit-box-direction: reverse;

							span {
								text-decoration: line-through;
								width: 100%;
								font-size: 12px;
								line-height: 16px;
								color: #999;
								text-decoration: line-through;
								word-break: break-all;
							}

							p {
								width: 100%;
								font-size: 12px;
								line-height: 16px;
								color: #212121;
								word-break: break-all;

								strong {
									font-size: 14px;
									font-weight: 500;
								}
							}
						}
					}

					&-bottom {
						display: flex;
						overflow: hidden;
						background-color: #ffffff;
						flex-direction: column;
						border-radius: 0px 0px 6px 6px;
						height: 54px;
						width: 100%;
						padding: 0px 16px 12px;
						margin: 0px;
						-webkit-box-orient: vertical;
						-webkit-box-direction: reverse;

						span {
							text-decoration: line-through;
							width: 100%;
							font-size: 12px;
							line-height: 16px;
							color: #999;
							text-decoration: line-through;
							word-break: break-all;
						}
					}
				}

				.width-373 {
					height: 100%;

					&-col {
						width: 373px;
						flex: 0 0 373px;
						height: 100%;
						// padding: 20px 12px;
						border-radius: 8px;
						border: 1px solid #eee;
						background-size: cover;
						background-repeat: no-repeat;

						h3 {
							display: -webkit-box;
							font-size: 18px;
							line-height: 24px;
							color: rgb(33, 33, 33);
							font-weight: 500;
							padding: 0 24px;
							height: 88px;
							overflow: hidden;
							display: flex;
							align-items: center;
							justify-content: space-between;
							text-overflow: ellipsis;
							word-break: break-word;
							width: 100%;
							margin: 0px;
						}

						&-line {
							display: flex;
							overflow: hidden;
							height: 1px;
							width: 100%;
							padding: 0px 24px;
							margin: 0px;

							&-item {
								display: flex;
								overflow: hidden;
								background-color: #ff572214;
								border-radius: 0px;
								height: 100%;
								width: 100%;
								padding: 0px;
								margin: 0px;
							}
						}

						&-list {
							display: flex;
							flex-direction: column;
							overflow: hidden;
							width: fit-content;
							padding: 0px;
							margin-bottom: 16px;

							&-item {
								margin-top: 16px;
								padding: 0 24px;
								height: 68px;
								text-decoration: none;
								display: flex;

								&-left {
									border-radius: 8px;
									height: 68px;
									width: 68px;
									flex-shrink: 0;
									padding: 0px;
									margin: 0px;
									background-size: cover;
									background-position: 50%;
									background-repeat: no-repeat;
									overflow: hidden;

									&-top {
										background-size: contain;
										background-repeat: no-repeat;
										text-align: center;
										font-size: 12px;
										line-height: 1.44;
										font-weight: 500;
										width: 16px;
										height: 21px;
										color: #fff;
									}
								}

								&-left-68 {
									width: 68px;
									height: 68px;
								}

								&-right {
									display: flex;
									overflow: hidden;
									flex-grow: 1;
									flex-direction: column;
									height: 68px;
									padding: 0px;
									margin: 0px 0px 0px 12px;

									h4 {
										display: -webkit-box;
										font-size: 14px;
										font-weight: normal;
										line-height: 20px;
										max-height: 40px;
										overflow: hidden;
										text-overflow: ellipsis;
										word-break: break-word;
										-webkit-box-orient: vertical;
										-webkit-line-clamp: 2;
										color: #212121;
									}

									&-desc {
										display: flex;
										overflow: hidden;
										align-items: center;
										padding: 0px;
										margin: 6px 0px 0px;
										-webkit-box-align: center;

										&-fire {
											height: 10px;
											width: 16px;
											background-size: cover;
											background-repeat: no-repeat;
											background-position: 50%;
											padding: 0px;
											margin: 0px;
										}

										p {
											display: -webkit-box;
											font-size: 12px;
											line-height: 16px;
											color: rgb(255, 151, 53);
											max-height: 16px;
											margin-left: 2px;
											overflow: hidden;
											text-overflow: ellipsis;
											word-break: break-all;
											-webkit-box-orient: vertical;
											-webkit-box-align: start;
											-webkit-line-clamp: 1;
										}

										&-price {
											font-size: 12px;
											line-height: 1.44;
											font-weight: 400;
											color: $textOrange;
											margin-left: 8px;

											strong {
												font-size: 12px;
											}
										}
									}
								}
							}
						}

						&-body {
							display: flex;
							overflow: hidden;
							cursor: pointer;
							flex-direction: column;
							background-size: cover;
							background-position: center center;
							background-repeat: no-repeat;
							border-radius: 8px;
							height: 300px;
							width: 100%;
							padding: 24px 24px 0px;
							margin: 0px;
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;

							&-top {
								display: flex;
								overflow: hidden;
								flex-direction: column;
								height: 216px;
								width: 100%;
								padding: 0px;
								margin: 0px;

								h3 {
									display: -webkit-box;
									font-size: 24px;
									line-height: 32px;
									color: $textWhite;
									padding: 0;
									height: fit-content;
									font-weight: 500;
									max-height: 96px;
									overflow: hidden;
									text-overflow: ellipsis;
									word-break: break-word;
								}

								p {
									margin-top: 8px;
									width: 60%;
									font-size: 14px;
									line-height: 20px;
									color: $textWhite;
									max-height: 80px;
									overflow: hidden;
									text-overflow: ellipsis;
									word-break: break-word;
								}
							}

							&-bottom {
								background-color: $textWhite;
								border-radius: 4px;
								height: 36px;
								width: fit-content;
								padding: 8px 16px;
								margin: 0px;
								display: flex;
								-webkit-box-align: center;
								align-items: center;

								span {
									display: inline-block;
									font-size: 14px;
									line-height: 20px;
									color: #212121;
								}
							}
						}
					}
				}

				.width-17667 {
					width: 176.67px;
					flex: 0 0 176.67px;
					height: 238px;
					position: relative;
					color: #fff;
					-webkit-box-flex: 0;

					&-img {
						position: relative;
						overflow: hidden;
						cursor: pointer;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
						background-color: rgb(233, 233, 233);
						border-radius: 8px;
						width: 100%;
						padding: 0px 0px 133.333%;
						margin: 0px;
					}
				}

				.swiper-button {
					position: absolute;
					z-index: 99;
					top: 50%;
					width: 32px;
					height: 32px;
					margin-top: -16px;
					color: #757575;
					background-color: #fff;
					border-radius: 16px;
					display: -webkit-box;
					display: flex;
					-webkit-box-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					align-items: center;
					cursor: pointer;
					border: 1px solid #e0e0e0;

					&:hover {
						color: #212121;
						box-shadow: $primaryBoxShadow;
					}

					&::after {
						font-size: 16px;
					}

					&-next {
						right: -42px;
					}

					&-prev {
						left: -42px;
					}
				}
			}

			&-list1 {
				&-item {
					position: relative;
					height: max-content;
					width: 275px;
					color: #fff;
					-webkit-box-flex: 0;
					flex: 0 0 275px;
					border: 1px solid #e0e0e0;
					cursor: pointer;
					margin: 0 10px;
					&-img {
						position: relative;
						overflow: hidden;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
						background-color: rgb(233, 233, 233);
						border-radius: 6px 6px 0px 0px;
						width: 100%;
						height: 160px;
						padding: 0px 0px 56.4972%;
						margin: 0px;
					}
				}
			}

			&-download-and-desc {
				position: relative;
				display: -webkit-box;
				display: flex;
				width: 100%;
				height: 400px;
				border-radius: 8px;
				overflow: hidden;
				background-size: cover;
				border: 1px solid #e0e0e0;
			}

			&-download {
				position: absolute;
				left: 72px;
				top: 79px;
				width: 237px;
				height: 321px;
				background-size: cover;

				&-list {
					width: 100%;
					padding: 0 20px;
					position: absolute;
					bottom: 26px;
					display: -webkit-box;
					display: flex;
					-webkit-box-pack: justify;
					justify-content: space-between;

					&-item {
						width: 92px;
						height: 28px;
					}

					&-ios {
						background-position: -382px -300px;
					}

					&-android {
						background-position: 154px -637px;
					}
				}
			}

			&-desc {
				position: absolute;
				width: 330px;
				top: 135px;
				left: 340px;

				h3 {
					display: -webkit-box;
					overflow: hidden;
					font-size: 32px;
					line-height: 1.18;
					font-weight: 600;
					margin-bottom: 9px;
					color: $textWhite;
					text-overflow: ellipsis;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
				}

				p {
					font-size: 14px;
					line-height: 1.44;
					font-weight: 400;
					-webkit-line-clamp: 3;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
					overflow: hidden;
					color: $textWhite;
				}
			}

			&-button {
				margin-top: 32px;
				text-align: center;

				a {
					color: inherit;
					cursor: pointer;
					text-decoration: none;

					.btn {
						min-width: 320px;
						background-color: transparent;
						line-height: 20px;
						font-size: 14px;
						padding: 7px 16px;
						display: inline-block;
						font-stretch: normal;
						font-style: normal;
						font-weight: 500;
						border: 1px solid $textBlack;
						border-radius: 6px;
						margin: 0;
						text-align: center;
						outline: none;
						text-transform: none;
						text-decoration: none;
						overflow: hidden;
						cursor: pointer;
					}
				}
			}

			&-logos {
				display: flex;
				-webkit-box-pack: start;
				justify-content: flex-start;
				-webkit-box-align: center;
				align-items: center;
				flex-wrap: wrap;

				&-icon {
					margin-right: 42px;
					margin-bottom: 32px;
				}

				.i_shangrila_en {
					background-position: -788px 0;
					width: 106px;
					height: 53px;
				}

				.i_airasia_en {
					background-position: -118px -814px;
					width: 118px;
					height: 31px;
				}

				.i_getgo {
					background-position: -788px -409px;
					width: 84px;
					height: 43px;
				}

				.i_reserve_google {
					background-position: -692px -764px;
					width: 140px;
					height: 16px;
				}

				.i_iventure {
					background-position: -788px -235px;
					width: 105px;
					height: 37px;
				}

				.i_disney {
					background-position: -280px -722px;
					width: 120px;
					height: 34px;
				}

				.i_bigbus {
					background-position: -894px -795px;
					width: 47px;
					height: 34px;
				}

				.i_railpass {
					background-position: -502px -814px;
					width: 160px;
					height: 18px;
				}

				.i_shopback {
					background-position: -320px -572px;
					width: 160px;
					height: 50px;
				}

				.i_hkexpress {
					background-position: -894px 0;
					width: 109px;
					height: 26px;
				}

				.i_techcrunch {
					background-position: -136px -250px;
					width: 145px;
					height: 22px;
				}

				.i_cnbc {
					background-position: -894px -677px;
					width: 49px;
					height: 37px;
				}

				.i_wit2 {
					background-position: -894px -589px;
					width: 58px;
					height: 33px;
				}

				.i_scmp2 {
					background-position: -944px -295px;
					width: 50px;
					height: 50px;
				}

				.i_forbes {
					background-position: -894px -852px;
					width: 73px;
					height: 19px;
				}

				.i_tdn {
					background-position: -944px -345px;
					width: 46px;
					height: 44px;
				}

				.i_e27_2 {
					background-position: -732px -139px;
					width: 56px;
					height: 21px;
				}

				.i_wsj2 {
					background-position: -490px -764px;
					width: 202px;
					height: 17px;
				}
			}

			&-tabs {
				height: max-content;
				padding-bottom: 60px;

				&-header {
					display: flex;
					-webkit-box-flex: 1;
					flex-grow: 1;
					-webkit-box-orient: horizontal;
					-webkit-box-direction: normal;
					flex-direction: row;
					transition: transform 0.2s ease-in-out,
						-webkit-transform 0.2s ease-in-out;

					&-items {
						display: flex;
						height: 48px;
						-webkit-box-align: center;
						align-items: center;
						-webkit-box-pack: center;
						justify-content: center;
						padding: 0 24px;
						border-bottom: 2px solid transparent;
						color: #212121;
						font-size: 14px;
						flex-shrink: 0;
						cursor: pointer;

						span {
							line-height: 1.44;
							overflow-x: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-size: 14px;
						}
					}

					&-items:hover {
						color: $textOrange;
					}

					&-items.active {
						color: $textOrange;
						border-bottom: 2px solid $textOrange;
						font-weight: 600;
					}
				}

				&-body {
					width: 100%;
					margin-top: 16px;

					&-panel {
						display: none;
						width: 100%;

						&-list {
							max-height: 78px;
							overflow: hidden;
							font-size: 0;

							&-item {
								overflow: hidden;
								display: inline-block;
								margin: 12px 12px 0 0;
								font-size: 12px;
								line-height: 14px;
								color: #757575;
								vertical-align: top;

								&-between {
									overflow: hidden;
									display: inline-block;
									margin: 12px 12px 0 0;
									font-size: 12px;
									line-height: 14px;
									color: #757575;
									vertical-align: top;
								}
							}
						}
					}
				}
			}
		}
	}
}

.f3_slider {
	&-5 {
		height: 420.5px !important;
		// min-height: 400px;
		height: 100%;
		&-first {
			// min-height: 400px;
			height: 100%;
			background: linear-gradient(180deg, transparent 50%, #00000080),
				url('../../assets/images/home-city-01.webp');
			background-position: bottom center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		&-last {
			// min-height: 400px;
			height: 100%;
			background: linear-gradient(180deg, #00000066, #00000066),
				url('../../assets/images/home-city-01.webp');
			background-position: bottom center;
			background-size: cover;
			background-repeat: no-repeat;
			justify-content: center;
			align-items: center;
			> span {
				text-transform: lowercase !important;
				font-size: 30px !important;
				width: 60px;
				height: 60px;
				padding: 20px;
				background-color: #ffffff99;
				border-radius: 50px;
				border: 1px solid $textWhite;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			p {
				font-size: 16px;
				line-height: 22px;
				color: $textWhite;
				font-weight: 600;
			}
		}
	}
}

.slick-list,
.slick-track {
	height: 100%;
	padding: 20px 0;
	overflow-y: unset !important;
}

.slick-arrow {
	position: absolute;
	top: 40%;
	left: -50px;
	z-index: 5;
	background-color: $whiteBackground;
	border: $primaryBorder;
	border-radius: 50px;
	padding: 12px;
	cursor: pointer;
}
.slick-next {
	right: -50px;
	left: unset;
}

.margin-top-40 {
	margin-top: 40px;
}

.filter-gray-100 {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.filter-gray-100:hover {
	filter: grayscale(0);
}

.f3_category {
	position: relative;
	margin-top: 36px;
	&-item {
		display: block;
		margin: 0 10px;
		width: 100%;
		border: $primaryBorder;
		border-radius: 6px;
		padding: 12px;
		height: 110px;
		display: flex !important;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		@include transition(transform, 0.2s, ease-in-out);
		&:hover {
			transform: translateY(-5px);
			box-shadow: $primaryBoxShadow;
		}
		&-img {
			width: 40px;
			height: 40px;
			margin-bottom: 8px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&-text {
			font-size: 14px;
			line-height: 20px;
			font-weight: 500;
			text-align: center;
		}
	}
}

.f3_heading {
	padding: 30px 0;
	font-size: 28px;
	line-height: 33px;
	font-weight: 600;
}

.list {
	padding-bottom: 70px;
	.container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	&-left {
		position: sticky;
		top: 115px;
		margin-right: 20px;
		flex: 1;
		height: calc(100vh - 61px);
		padding: 20px 16px 9px;
		overflow: hidden scroll;
		background-color: $whiteBackground;
		input {
			cursor: pointer;
			padding: 4px;
			min-width: 18px;
			width: 18px;
			height: 18px;
			line-height: 22px;
			display: inline-block;
			margin-right: 8px;
		}
		&-item {
			margin-bottom: 16px;
			border-bottom: $primaryBorder;
			padding-bottom: 7px;
			&-heading {
				font-size: 16px;
				line-height: 23px;
				font-weight: 500;
				color: $textBlack;
				margin-bottom: 16px;
			}
			&-content {
				&-tag {
					display: inline-flex;
					justify-content: flex-start;
					align-items: center;
					margin: 0 7px 8px 0;
					border-radius: 4px;
					background-color: $primaryBackgroundColor;
					span {
						font-size: 14px;
						line-height: 18px;
						font-weight: 400;
						padding: 4px;
					}
					&:hover {
						span {
							color: $textBlue;
							cursor: pointer;
						}
					}
				}
				&-node {
					&-trigger {
						> span {
							flex: 1;
							text-align: right;
							margin-left: 16px;
							cursor: pointer;
						}
						display: flex;
						justify-content: flex-start;
						align-items: center;
						padding: 13px 16px;
						label span {
							font-size: 16px;
							line-height: 22px;
							cursor: pointer;
							font-weight: 400;
							text-transform: capitalize;
						}
					}
					&-content {
						height: 0;
						@include transition(all, 3s, ease-in-out);
						overflow: hidden;
						&-node {
							&-trigger {
								> span {
									flex: 1;
									text-align: right;
									margin-left: 16px;
									cursor: pointer;
								}
								display: flex;
								justify-content: flex-start;
								align-items: center;
								padding: 10px 16px 10px 32px;
								label span {
									font-size: 14px;
									line-height: 20px;
									cursor: pointer;
									font-weight: 400;
									text-transform: uppercase;
								}
							}
							&-content {
								height: 0;
								overflow: hidden;
								&-item {
									padding: 10px 16px 10px 48px;
									display: flex;
									justify-content: flex-start;
									align-items: center;
									label {
										font-size: 14px;
										line-height: 20px;
										font-weight: 400;
										cursor: pointer;
										color: $textBlack;
										text-transform: capitalize;
									}
								}
							}
						}
						&-item {
							display: flex;
							justify-content: flex-start;
							align-items: center;
							padding: 10px 16px 10px 32px;
							label span {
								font-size: 14px;
								line-height: 20px;
								cursor: pointer;
								font-weight: 400;
								// text-transform: capitalize;
							}
						}
					}
				}
			}
			&-action {
				margin: 16px 0;
				font-size: 14px;
				font-weight: 500;
				line-height: 20px;
				padding: 7px 16px;
				border: $primaryBorder;
				border-radius: 8px;
				text-align: center;
				&:hover {
					background-color: $primaryHoverBackgroundColor;
					cursor: pointer;
				}
			}
		}
	}
	&-right {
		background-color: #fff;
		padding: 20px;
		flex: 4;
		&-filter {
			// padding: 20px;
			margin-bottom: 20px;
			&-heading {
				font-size: 16px;
				font-weight: 500;
				line-height: 23px;
				margin-bottom: 12px;
			}
			&-content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				&-filter {
					flex: 1;
					display: flex;
					justify-content: center;
					align-items: center;
					&-item {
						width: calc(100% / 3);
						margin-right: 8px;
						padding: 8px 12px;
						border: $primaryBorder;
						border-radius: 4px;
						position: relative;
						cursor: pointer;
						&:hover {
							border-color: $primaryColor;
						}
						&-heading {
							display: flex;
							justify-content: space-between;
							align-items: center;
							font-size: 14px;
							line-height: 22px;
							input {
								font-size: 14px;
								line-height: 22px;
								border: none;
								outline: none;
								cursor: pointer;
								&[type='date'] {
									width: 100%;
								}
								&[type='checkbox'] {
									width: 18px;
									height: 18px;
								}
							}

							label {
								cursor: pointer;
								display: flex;
								align-items: center;
								flex: 1;
							}
							span {
								font-size: 14px;
								line-height: 22px;
							}
						}
						&-dropdown {
							background-color: #fff;
							z-index: 5;
							.range-slide {
								position: relative;
								margin: 20px 40px;
								height: 4px;
								width: 240px;
							}

							.slide {
								position: absolute;
								top: 0;
								height: 4px;
								background: #ccc;
								left: 9px;
								right: 9px;
							}

							.line {
								position: absolute;
								left: 0;
								right: 0;
								top: 0;
								height: 4px;
								background-color: $primaryColor;
							}

							.thumb {
								position: absolute;
								z-index: 2;
								text-align: left;
								border: 1px solid $primaryColor;
								background-color: white;
								border-radius: 50%;
								outline: none;
								top: -7px;
								height: 18px;
								width: 18px;
								margin-left: -9px;
							}

							input {
								-webkit-appearance: none;
								appearance: none;
								position: absolute;
								pointer-events: none;
								z-index: 3;
								height: 3px;
								top: 0;
								width: 100%;
								opacity: 0;
								margin: 0;
							}

							input::-webkit-slider-thumb {
								-webkit-appearance: none;
								appearance: none;
								pointer-events: all;
								border-radius: 50%;
								cursor: pointer;
								width: 18px;
								height: 18px;
							}

							.display {
								margin: 10px 40px;
								width: 240px;
								display: flex;
								justify-content: space-between;
							}
							position: absolute;
							top: 120%;
							left: 0;
							width: max-content;
							border: $primaryBorder;
							padding: 20px;
							* {
								font-size: 16px;
							}
							border-radius: 6px;
							&-button {
								.reset,
								.confirm {
									padding: 8px 12px;
									border: $primaryBorder;
									outline: none;
									font-weight: 600;
									border-radius: 4px;
									float: right;
									margin: 8px;
									color: $textWhite;
									&:hover {
										color: $textWhite;
										background-color: $primaryHoverButtonColor;
										cursor: pointer;
									}
								}
								.confirm {
									background-color: $primaryButtonColor;
								}
								.reset {
									color: $textBlack;
									background-color: transparent;
								}
							}
							display: none;
						}
					}
				}
				&-sort {
					margin-left: 12px;
					span {
						font-size: 14px;
						line-height: 22px;
					}
					&-box {
						font-size: 14px;
						line-height: 22px;
						padding: 8px 12px;
						border: $primaryBorder;
						border-radius: 4px;
						outline: none;
						&:hover {
							border-color: $primaryColor;
						}
						option {
							font-size: 14px;
							line-height: 22px;
						}
					}
				}
			}
		}
		&-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
			gap: 20px;
			&-item {
				display: block;
				width: 100%;
				border-radius: 8px;
				overflow: hidden;
				@include transition(transform, 0.2s, ease-in-out);
				&:hover {
					transform: translateY(-5px);
					box-shadow: $primaryBoxShadow;
				}
				&-img {
					width: 100%;
					img {
						width: 100%;
						object-fit: contain;
					}
				}
				&-content {
					padding: 12px 16px 16px;
					&-city {
						font-size: 12px;
						line-height: 19px;
						color: $textGray;
					}
					&-title {
						font-size: 16px;
						line-height: 24px;
						color: $textBlack;
						font-weight: 500;
					}
					&-desc {
						padding-top: 6px;
						font-size: 12px;
						line-height: 17px;
						@include text-truncate(1);
						color: $textGray;
					}
					&-rate {
						padding-top: 6px;
						> span {
							font-size: 12px;
							line-height: 17px;
							color: $textGray;
							> span {
								font-size: 12px;
								line-height: 17px;
								color: #ff9c00;
								font-weight: 600;
							}
						}
					}
					&-tag {
						padding-top: 6px;
						span {
							font-size: 12px;
							line-height: 17px;
							color: $textGray;
							padding: 1px 6px;
							background-color: $primaryBackgroundColor;
							border: $primaryBorder;
							border-radius: 4px;
							font-weight: 600;
							&:first-of-type {
								color: #00b371;
								background-color: #f0fffa;
							}
						}
					}
					&-price {
						padding-top: 12px;
						> span {
							font-size: 12px;
							line-height: 17px;
							color: $textGray;
							&:first-of-type {
								text-decoration: line-through;
							}
						}
						div {
							display: flex;
							justify-content: space-between;
							align-items: center;
							> span {
								font-size: 14px;
								line-height: 20px;
								color: $textBlack;
								font-weight: 500;
								&:last-of-type {
									font-size: 12px;
									line-height: 17px;
									color: $primaryColor;
									background-color: #fff0e5;
									border: $primaryBorder;
									border-radius: 4px;
									padding: 1px 6px;
									border-color: $primaryColor;
								}
							}
						}
					}
				}
			}
		}
		&-pagination {
			padding-bottom: 20px;
			margin-top: 12px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			span {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 36px;
				height: 36px;
				cursor: pointer;
				font-size: 16px;
			}
			> span {
				background-color: $primaryBackgroundColor;
				border: $primaryBorder;
				border-radius: 6px;
				margin-left: 12px;
			}
		}
	}
}

.f3_experiences-slider {
	.item-content-desc {
		@include text-truncate(2);
	}
}

.f3_near-slider {
	height: 380px;
	a {
		height: 100%;
	}
}

.f3_comment-slider {
	&-item {
		margin: 0 20px;
		border: $primaryBorder;
		border-radius: 6px;
		padding: 20px;
		> * {
			margin-bottom: 12px;
		}
		&-rate {
			span {
				color: #ff9d26;
			}
		}
		&-for {
			span {
        font-size: 14px;
      line-height: 20px;
				color: $textGray;
			}
			a {
        font-size: 14px;
      line-height: 20px;
				color: $textBlue;
			}
		}
		&-author {
      font-size: 16px;
      line-height: 20px;
			color: $textGray;
		}
    &-content {
      font-size: 14px;
      line-height: 20px;
    }
	}
}

.f3_button {
	text-align: center;
	a {
		background-color: $primaryButtonColor;
		border-radius: 6px;
		display: inline-block;
		padding: 10px 50px;
		color: $textWhite;
		font-size: 16px;
		line-height: 22px;
		font-weight: 600;
		&:hover {
			background-color: $primaryHoverButtonColor;
		}
	}
}

.path {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	span {
		font-size: 14px;
		padding: 16px 0;
		margin: 0 4px;
		line-height: 20px;
		color: $textGray;
		a {
			color: $textGray;
			font-size: 14px;
			padding: 16px 0;
			margin: 0 4px;
		}
		&:last-of-type {
			color: $textBlack;
		}
	}
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: 230px 230px;
	gap: 4px;
	position: relative;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 24px;

	&-item {
		background-color: rgba(255, 255, 255, 0.8);
		text-align: center;
		font-size: 30px;
		overflow: hidden;
		filter: grayscale(20%);
		transition: all 0.2s linear;

		&:hover {
			filter: grayscale(0);
		}
		&-1 {
			grid-area: 1 / 1 / 3 / 3;
			border-radius: 8px 0 0 8px;
		}
		&-2 {
			border-radius: 0 8px 0 0;
		}
		&-3 {
			border-radius: 0 0 8px 0;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.about-city {
	border: $primaryBorder;
	padding: 20px;
	border-radius: 6px;
	.about {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		border-bottom: $primaryBorder;
		.desc {
			flex: 2;
			&-heading {
				font-size: 20px;
				line-height: 26px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			&-content {
				font-size: 14px;
				line-height: 21px;
				margin-bottom: 30px;
			}
		}
		.map {
			margin-left: 40px;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			&-content {
				width: 100%;
				iframe {
					height: 500px;
					width: 100%;
				}
			}
		}
	}
	.weather,
	.info {
		&-heading {
			font-size: 20px;
			line-height: 26px;
			font-weight: 700;
			margin-top: 30px;
		}
		&-content {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding: 20px 0;
			border-bottom: $primaryBorder;
			&-item {
				margin: 0 20px;
				flex: 1;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-direction: column;
			}
		}
	}
	.weather-content-item {
		> span {
			margin-top: 10px;
			&:first-of-type {
				font-size: 14px;
				line-height: 18px;
			}
			> span {
				margin-right: 20px;
				font-size: 24px;
				line-height: 29px;
				&:last-of-type {
					color: $textGray;
				}
			}
			&:last-of-type {
				font-size: 14px;
				line-height: 18px;
				color: $textGray;
			}
		}
	}
	.info-content-item {
		> span {
			margin-top: 10px;
			font-size: 16px;
			line-height: 20px;
			&:first-of-type {
				font-size: 14px;
				line-height: 18px;
			}

			&:last-of-type {
				font-size: 14px;
				line-height: 18px;
				color: $textGray;
			}
		}
	}
}

.p-container {
	.accordion {
		background-color: white;
		// color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 14px;
		font-weight: 500;
		transition: 0.4s;
		&-last {
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
		}
	}
	.accordion:first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	// .active,
	// .accordion:hover {
	//     background-color: #ccc;
	// }
	.accordion:after {
		content: '\002B';
		color: #777;
		font-size: 16px;
		font-weight: bold;
		float: right;
		margin-left: 5px;
	}

	.active:after {
		content: '\2212';
	}
	.panel {
		p {
			font-size: 14px;
			padding: 20px;
		}
		padding: 0 18px;
		background-color: white;
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.2s ease-out;
	}
}
